html{
    background-color: #3dc1d3;
}

.btn{
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    margin-left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: #3dc1d3;
}
.selected{
    color: white;
    background-color: #3dc1d3;
}


.headBlock{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.HeadName{
    font-size: 20px;
    padding:10px 0;
    font-weight: bold;
}

input[type=search]{
    padding:  5px 10px;
    margin: 10px 0;
}


.content{
    display: grid;
    grid-template-areas: "groups filters";
    grid-template-columns: 1fr 200px;
}

.groups{
    grid-area: groups;
    display: flex;
    flex-direction: column;
}
.group{
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
}
.groupspan{
    font-size: 18px;
    font-weight: bold;
    border-left: #3dc1d3 10px solid;
    padding-left: 5px;
}

.filters{
    grid-area: filters;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
}

.filter{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.filter>label{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
.filter>label:hover{
    background-color: #3dc1d3;
    color: white;
}
.filter>label>span{
    font-size: 17px;
    width: 100%;
    padding: 3px;
    padding-left: 10px;
}
.filter>label>input[type=checkbox]{
    width: 0;
    margin: 0;
}
.filter>label> input[type=checkbox]:checked+span  {
    background-color: #3dc1d3;
    color: white;
}

.filters>button{
    margin-top: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s all ease;
    padding: 5px;
    font-size: 17px;
    margin-bottom: 5px;
}
.filters>button:hover{
    background-color: #3dc1d3;
    color: #fff;
}

.serial{
    border-left: 0;
}

.serial[open]{
    background-color: rgb(241, 241, 241);
}
.serial[open]>summary{
    border-left: 10px #3dc1d3 solid;
    border-right: 10px #3dc1d3 solid;
    background-color: rgb(223, 219, 219)
}
.serial>summary{
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 0px #3dc1d3 solid;
    border-right: 0px #3dc1d3 solid;
    background-color: rgb(241, 241, 241);
}
.serial>summary>div{
    width: 100%;
    display: grid;
    grid-template-areas: "Name progress delbtn ";
    grid-template-columns: auto 400px 20px ;
    
    grid-column-gap: 20px;
    align-items: center;
}
.serial>summary>div>span>a{
    color: black;
}
.serial>summary:hover{
    border-left: 10px #3dc1d3 solid;
    border-right: 10px #3dc1d3 solid;
    background-color: rgb(223, 219, 219)
}
.serial>summary>a{
    color: #3dc1d3;
}
.delbtn{
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/cross_20px.png') no-repeat;
    transition: all 0.5s ease;
}
.delbtn:hover{
    background-position: 0 -20px;
}

.simplespan{
    padding:  5px 10px;
    background-color: rgb(241, 241, 241);
}


#faststatus{
    position: fixed;
    background-color:rgba(241, 241, 241,0.8);
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 250px;
    opacity: 0;
    z-index: -10;
}
#faststatus>span{
    padding: 15px;
    text-align: center;
    border: gray dashed 2px;
    margin: 2px;
    font-weight: bold;
}