{% load static %}
{% include "../base.html" %}

<link rel="stylesheet" href={% static 'Profile/activity.css' %} type="text/css" />

<title>Активности / {{profile.name}}</title>

<body>
    <div class="headBlock">
        <a href="{% url 'profile' profile.user.username %}" class="bckbtn">
            <b>◄</b><span>К профилю</span>
        </a>
        <p class="pagedisc">
            Активности пользователя {{ profile.name }}
        </p>
    </div>
    {% include "Profile/blocks/pagination.html" with page=activity username=profile.user.username urlname='ProfileActivity_page'%}

    <div class="activity">
        {% if activity %}
            {% for activityitem in activity %}
                <a href="{{activityitem.list.get_absolute_url}}" class="feeditem">
                    <div class="feedaction">
                        <img src="{{activityitem.list.obj.img.url}}">
                        <div>
                            <span>{{activityitem.list.obj.name}}</span>
                            <span>{{activityitem.action}}</span>
                            <span class="feedtimestamp">{{activityitem.created|timesince}} назад</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h3>Активности нет</h3>
        {% endif %}
    </div>
    {% include "Profile/blocks/pagination.html" with page=activity username=profile.user.username urlname='ProfileActivity_page'%}
</body>