{% load static %}
{% include "../base.html" %}

<link rel="stylesheet" href={% static 'Profile/friends.css' %} type="text/css" />

<title>Список друзей {{profile.user.first_name}} {{profile.user.last_name}}</title>

<body>
    <div class="headBlock">
        <a href={% url 'profile'  profile.user.username %} class="bckbtn">
            <b>◄</b><span>К профилю</span>
        </a>
        {% if request.user == profile.user %}
            <a href={% url 'friendreq'  profile.user.username %} class="requestf">
                <span>Заявки в друзья</span><b>{{friends.requestcount}}</b>
            </a>
        {% endif %}
    </div>

        <div class="friendlist">
            <span>Друзья {{profile.user.first_name}} {{profile.user.last_name}} ({{friends.count}})</span>
            <div>
                {% for friend in friends.list  %}
                    <div class="friend" style=" height: 160px;">
                        <a title="{{friend.user.first_name}} {{friend.user.last_name}}" href="{% url 'profile' friend.user.username %}">
                            <img width="120px" src="{{friend.photo.url}}" >
                            <span>{{friend.user.first_name}} {{friend.user.last_name}}</span>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
</body>