{% load static %}
{% include "../base.html" %}

<link rel="stylesheet" href={% static 'Profile/profile.css' %} type="text/css"/>
<link rel="stylesheet" href={% static 'Profile/AjaxPagination.css' %} type="text/css"/>
<script src="{% static "Main/scripts/AjaxPagination.js" %}"></script>
<title>Профиль {{ profile.user.first_name }} {{ profile.user.last_name }}</title>

<body>
<div class="headBlock">
    <a href={% url 'index' %} class="bckbtn">
        <b>◄</b><span>На главную</span>
    </a>
</div>


<div class="profilehead">
    <div class="bgimg">

        <style>
            .bgimg {
            {% if profile.photobg %}
                background-image: url({{profile.photobg.url}});
                background-size: contain;
            {% else %}
                background-image: url(https://loremflickr.com/800/600/abstract);
                background-size: cover;
            {% endif %}
                background-attachment: fixed;
                background-position: top;
            }
        </style>
    </div>
    <img class="avatar" src="{{ profile.photo.url }}">
</div>
<div class="profileinfo">
    <div class="userSB">
                <span style="grid-area:s;text-align: right;">
                    {% if profile.sex == "M" %}
                        Муж.
                    {% else %}
                        Жен.
                    {% endif %}
                    </span>
        <span style="grid-area:b">{{ profile.age }} лет.</span>
    </div>
    <div class="userfl">
        <span style="grid-area:f;text-align: right;">{{ profile.user.first_name }}</span>
        <span style="grid-area:l">{{ profile.user.last_name }}</span>
    </div>

</div>
<div class="section0">
    {% if profile.user.username == request.user.username %}
        <!--
            <a href="{% url 'settings' %}">
                <img width="30px" src={% static 'images/messages.png' %} >
                <span>Мои сообщения</span>
            </a>-->
        <a href="{% url 'settings' %}">
            <img src={% static 'images/settings.png' %}>
            <span>Настройки профиля</span>
        </a>
    {% endif %}
    {% if profile.user.username != request.user.username %}
        <!--
                    <a href="{% url 'dialog' profile.user.username %}">
                        <img width="30px" src={% static 'images/messages.png' %} >
                        <span style="font-size:17px">Отправить сообщение</span>
                    </a>
                -->
        {% if ifollow %}
            <a href="{% url 'follow' profile.user.username %}">
                <img src={% static 'images/removefriend.png' %}>
                <span>Отписаться</span>
            </a>
        {% else %}
            <a href="{% url 'follow' profile.user.username %}">
                <img src={% static 'images/addtofriend.png' %}>
                <span>Подписаться</span>
            </a>
        {% endif %}
    {% endif %}

</div>
<div class="section1">
    <div class="friends">
        {% load profileTags %}
        {% Myfollowings profile %}
        {% Myfollowers profile %}
    </div>

    {% load ListStatic %}
    {% SerialsStatic profile %}
    {% FilmStatic profile %}
</div>
{% if feed %}
    <div class="sectionFeed">
        <a style="border-left-color:#3dc1d3;" class="bigspan">
            Активность
        </a>
        {% include "Profile/blocks/Profile_feed_ajax.html" %}
    </div>
{% endif %}
</body>