html{
    background-color: #c44569;
   }
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
a{
    color: black;
}

.headBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border-bottom: black solid 1px;
}
.bckbtn{
    font-weight: bold;
    background-color: #c44569;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding: 2px;
}
.bckbtn>span{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
}
.bckbtn>*{
    padding: 5px 0;
}
.bckbtn:hover>span{
    background-color: #c44569;
    color: white;
}

.pagedisc{
    margin: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.activity{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    animation: fade-in 1s ease;
}

.feeditem{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    align-items: flex-start;
    transition: all 0.5s ease;
}
.feeditem:hover{
    background-color: lightgray;
}
.feeditem:hover>.feedaction>div{
    margin-left: 20px;
}
.feedtimestamp{
    font-size: 13px;
    margin-bottom: 10px;
}
.feedaction{
    font-size: 18px;
    display: flex;
    flex-direction: row;
}
.feedaction>img{
    height: 80px;
}
.feedaction>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    transition: all 0.5s ease;
}
.feedaction>div>a{
    font-weight: bold;
    font-size: 18px;
}

@media (max-device-width: 425px) {
    .bckbtn{
        padding: 3px;
    }
    .bckbtn>span{
        font-size: 26px;
    }

    .activity{
        padding: 15px;
        border-top-width: 3px;
    }

    .pagedisc{
        font-size: 25px;
    }

    .feedtimestamp{
        font-size: 18px;
        margin-bottom: 10px;
        color: grey;
    }
    .feedaction{
        font-size: 25px;
    }
    .feedaction>img{
        height: 120px;
    }
    .feedaction>div{
        margin-left: 10px;
    }
    .feedaction>div>a{
        font-weight: bold;
        font-size: 24px;
    }
}













