html{
    background-color: #c44569;
   }
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.bckbtn{
    font-weight: bold;
    background-color: #c44569;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding: 2px;
}
.bckbtn>span{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
}
.bckbtn>*{
    padding: 5px 0;
}
.bckbtn:hover>span{
    background-color: #c44569;
    color: white;
}

.requestf{
    font-weight: bold;
    background-color: #c44569;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding: 2px;
}
.requestf>b{
    padding: 0 5px;
    text-align: center;
}
.requestf>span{
    word-break: break-all;
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding: 5px 10px;
    margin-left: 2px;
}
.requestf:hover>span{
    background-color: #c44569;
    color: white;
}

.friendlist{
    grid-area: friendlist;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 15px;
    animation: fade-in 1s ease;
}
.friendlist>span{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px black solid;
    padding-bottom: 5px;
}
.friendlist>div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.friend{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 190px;
    width: 150px;
}
.friend>a{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease;
    text-decoration: none;
    color:black;
    padding: 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 190px;
}
.friend>a:hover{
    background-color: lightgrey;
}
.friend>a>span{
    width: 150px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.friend>div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.friend>div>a{
    color: black;

    padding: 5px 6.5px;
    transition: all 0.5s ease;
}
.friend>div>a:hover{
    background-color: #c44569;
    color: white;
}

@media (max-device-width: 425px) {
    .bckbtn{
        padding: 3px;
    }
    .bckbtn>span{
        font-size: 26px;
    }

    .requestf{
        padding: 3px;
    }
    .requestf>span{
        font-size: 26px;
    }
    .requestf>b{
        font-size: 26px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .friendlist{
        padding: 20px;
    }
    .friendlist>span{
        font-size: 28px;
        border-bottom: 3px black solid;
        padding-bottom: 10px;
    }
    .friendlist>div{
        flex-direction: column;
    }
    .friend{
        padding: 5px;
        height: 160px;
        width: 100%;
    }
    .friend>span{
        font-size: 26px;
    }
    .friend>a{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 15px;
        height: 190px;
    }
    .friend>a>span{
        width: 75%;
        text-align: center;
        padding: 5px;
        font-size: 28px;
        font-weight: bold;
    }
}


.bigspan{
    border-left-color: #c44569;
}