
.notifications{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    border-top: var(--standart-border--);
    animation: fade-in 1s ease;
}

.notification{
    display: grid;
    grid-template-areas: "poster message del";
    grid-template-columns: 100px auto 30px;
    padding: 5px;
}
.notification>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 20px;
}
.notification>div>a{
    color: black;
}
.notification>img{
    height: 80px;
    margin-right: 10px;
}
.sended{
    color: grey;
    font-size: 14px!important;
}

.delbtn{
    display: block;
    width: 20px;
    height: 20px;
    background: url('./images/cross_20px.png') no-repeat;
    transition: all 0.5s ease;
    cursor: pointer;
}
.delbtn:hover{
    background-position: 0 -20px;
}

@media (max-device-width: 425px) {

    .notifications{
        padding: 15px;
        border-top-width: 3px;
    }

    .notification{
        grid-template-columns: 120px auto 30px;
        padding: 10px;
    }
    .notification>div{
        font-size: 26px;
    }
    .notifications>h3{
        font-size: 26px;
    }
    .notification>img{
        height: 120px;
        margin-right: 5px;
    }
    .sended{
        color: grey;
        font-size: 18px!important;
    }
    .delbtn{
        background: url('./images/cross_40px.png') no-repeat;
        width: 40px;
        height: 40px;
    }
    .delbtn:hover{
        background-position: 0 -40px;
    }
}