html{
    background-color: #c44569;
   }
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.bckbtn{
    font-weight: bold;
    background-color: #c44569;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding: 2px;
}
.bckbtn>span{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
}
.bckbtn>*{
    padding: 5px 0;
}
.bckbtn:hover>span{
    background-color: #c44569;
    color: white;
}

.notifications{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    border-top: black solid 1px;
    animation: fade-in 1s ease;
}

.notification{
    display: grid;
    grid-template-areas: "poster message del";
    grid-template-columns: 100px auto 30px;
    padding: 5px;
}
.notification>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 20px;
}
.notification>div>a{
    color: black;
}
.notification>img{
    height: 80px;
    margin-right: 10px;
}
.sended{
    color: grey;
    font-size: 14px!important;
}

.delbtn{
    display: block;
    width: 20px;
    height: 20px;
    background: url('./images/cross_20px.png') no-repeat;
    transition: all 0.5s ease;
    cursor: pointer;
}
.delbtn:hover{
    background-position: 0 -20px;
}

@media (max-device-width: 425px) {
    .bckbtn{
        padding: 3px;
    }
    .bckbtn>span{
        font-size: 26px;
    }

    .notifications{
        padding: 15px;
        border-top-width: 3px;
    }

    .notification{
        grid-template-columns: 120px auto 30px;
        padding: 10px;
    }
    .notification>div{
        font-size: 26px;
    }
    .notifications>h3{
        font-size: 26px;
    }
    .notification>img{
        height: 120px;
        margin-right: 5px;
    }
    .sended{
        color: grey;
        font-size: 18px!important;
    }
    .delbtn{
        background: url('./images/cross_40px.png') no-repeat;
        width: 40px;
        height: 40px;
    }
    .delbtn:hover{
        background-position: 0 -40px;
    }
}













