html{
    background-color: #c44569;
   }

.dialog{
    display: grid;
    grid-template-areas: "bckbtn . ."
    "noti noti noti";
    grid-template-columns: 200px auto 350px;
    grid-template-rows: 80px auto;
    height: 100%;
}
body{
    height: 100%;
}
.notifications{
    grid-area: noti;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px;
    border-top: black solid 1px;
}


.notification{
    display: grid;
    grid-template-areas: "poster message del";
    grid-template-columns: 80px auto 30px;
    padding: 5px;
}
.notification>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: 20px;
}
.notification>div>a{
    color: black;
}
.notification>img{
    height: 80px;
    margin-right: 10px;
}

.sended{
    color: grey;
    font-size: 14px!important;
}

.delbtn{
    display: block;
    width: 20px;
    height: 20px;
    background: url('./images/cross_20px.png') no-repeat;
    transition: all 0.5s ease;
    cursor: pointer;
}
.delbtn:hover{
    background-position: 0 -20px;
}



.bckbtn{
    grid-area: bckbtn;
    font-weight: bold;
    background-color: #c44569;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin: 20px;
    height: 30px;
}
.bckbtn>span{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 10px;
}
.bckbtn>*{
    padding: 5px 0;
}
.bckbtn:hover>span,.toprofile>span:hover{
    background-color: #c44569;
    color: white;
}

.bigspan{
    border-left-color: #c44569;
}