html{
    background-color: #c44569;
   }
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
a{
    color: black;
}

.headBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.bckbtn{
    font-weight: bold;
    background-color: #c44569;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding: 2px;
}
.bckbtn>span{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
}
.bckbtn>*{
    padding: 5px 0;
}
.bckbtn:hover>span{
    background-color: #c44569;
    color: white;
}

.bigspan{
    border-left-color: #c44569;
}

.profilehead{
    display: grid;
    grid-template-areas: "center";
    animation: fade-in 1s ease;
}
.bgimg{
    grid-area: center;
    width: 100%;
    height:300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-top: #c44569 2px solid;
    border-bottom: 1px solid black;
}
.avatar{
    grid-area: center;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-bottom:-50px;
}

.profileinfo{
    min-height: 100px;
    display: flex;
    flex-direction: column;
}
.userfl{
    width: 100%;
    display: grid;
    grid-template-areas: "f . l";
    grid-template-columns: 1fr 120px 1fr;
}
.userfl>span{
    font-size: 32px;
    font-weight: bold;
}
.userSB{
    width: 100%;
    display: grid;
    grid-template-areas: "s . b";
    grid-template-columns: 1fr 210px 1fr;
}
.userSB>span{
    font-size: 16px;
}

.section0{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s ease;
}
.section0>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s ease;
    width: 30px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 0 5px;
    color: black;
}
.section0>a>img{
    width:30px;
}
.section0>a>span{
    text-align: center;
    padding: 5px;
    transition: all 0.5s ease;
    white-space: nowrap;
    display: none;
}
.section0>a:hover{
    width: 230px;
}
.section0>a:hover>span{
    margin-left: 5px;
    display: block;
}

.section1{
    min-height: 350px;
    display: grid;
    grid-template-areas:
    "serials friends"
    "films .";
    grid-template-columns: auto 340px;
    grid-template-rows: 170px 170px;
    animation: fade-in 1s ease;
}
.section1>*{
    margin: 10px;
}
.friends{
    grid-area: friends;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.friends>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
.friends>div>a{
    padding: 6px;
    cursor: pointer;
    margin:6px;
    width:40px;
    height:40px;
}

.serials{
    grid-area: serials;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.serials>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: 10px;
    height: 150px;
}

.films{
    grid-area: films;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.films>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin: 10px;
    height: 150px;
}

.diagramm{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:40px;
}
.diagramm>div{
    height: 30px;
}
.legend{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:30px;
    font-weight: bold;
}
.legend>*{
    border-left:10px gray solid;
    padding-left: 5px;
}


.sectionFeed{
    padding: 10px;
    display: flex;
    flex-direction: column;
    animation: fade-in 1s ease;
}
.feeditem{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    align-items: flex-start;
    transition: all 0.5s ease;
}
.feeditem:hover{
    background-color: lightgray;
}
.feeditem:hover>.feedaction>div{
    margin-left: 20px;
}
.feedtimestamp{
    font-size: 13px;
    margin-bottom: 10px;
}
.feedaction{
    font-size: 18px;
    display: flex;
    flex-direction: row;
}
.feedaction>img{
    height: 80px;
}
.feedaction>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    transition: all 0.5s ease;
}
.feedaction>div>a{
    font-weight: bold;
    font-size: 18px;
}


@media (max-device-width: 425px) {
    .bckbtn {
        padding: 3px;
    }
    .bckbtn > span {
        font-size: 26px;
    }

    .bgimg{
        border: none;
        border-top: #c44569 5px solid;
        border-bottom: 3px solid black;
        margin-bottom: 60px;
    }
    .avatar{
        width: 400px;
        height: 400px;
        margin-bottom:-40px;
    }

    .userfl>span{
        font-size: 42px;
    }
    .userSB>span{
        font-size: 26px;
    }

    .section0{
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section0>a{
        width: 90%;
        height: 80px;
        font-size: 25px;
        margin: 0 15px;
        justify-content: center;
        border-top: 1px solid black;
        padding: 10px;
    }
    .section0>a:last-child{
        border-bottom: 1px solid black;
        margin-bottom: 20px;
    }
    .section0>a:hover{
        width: 50%;
        background-color: #e7e7e7;
    }
    .section0>a>img{
        width:50px;
    }
    .section0>a>span{
        width: auto;
        text-align: center;
        padding: 5px;
        margin-left: 20px;
        display: block;
    }
    .section0>a:hover>span{
        margin-left: 0px;
    }

    .section1{
        grid-template-areas:
        "serials serials"
        "films films"
        "friends friends";
        grid-template-columns: 50% 50%;
        grid-template-rows: 170px 170px auto;
        font-size: 25px;
    }
    .section1>*{
        margin: 15px;
    }
    .friends>div>a{
        margin-top: 10px;
        width:50px;
        height:50px;
    }
    .bigspan{
        font-size: 30px;
        border-left-width: 15px;
    }

    .feedtimestamp{
        font-size: 18px;
        margin-bottom: 10px;
        color: grey;
    }
    .feedaction{
        font-size: 25px;
    }
    .feedaction>img{
        height: 120px;
    }
    .feedaction>div{
        margin-left: 10px;
    }
    .feedaction>div>a{
        font-weight: bold;
        font-size: 24px;
    }
}