html{
    background-color: #303952;
}

form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 3%;
    animation: fade-in 1s ease;
}

p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 7px;
    margin-bottom: 15px;
}

p>label{
    padding: 0 5px 5px 0;
}
p>span{
    color: #7b8084;
}
p>input{
    padding: 5px;
    font-size: 18px;
    width: 100%;
    background-color: white;
}

.bigspan{
    border-left-color: #303952;
    margin-bottom: 2%;
    font-size: 18px;
}

button[type=submit]{
    margin-top: 20px;
    padding: 10px 0;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(241, 241, 241);
    transition: all 0.5s ease;
}
button[type=submit]:hover{
    border-left: 10px #303952 solid;
    border-right: 10px #303952 solid;
    cursor: pointer;
    background-color: rgb(223, 219, 219);
}
.errorlist{
    background-color: #e66767;
    padding-top:10px;
    padding-bottom:10px;
    color: #fff;
}
form>a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    background-color: rgb(241, 241, 241);
    transition: all 0.5s ease;
    font-weight: bold;
}
form>a:hover{
    border-left: 10px #303952 solid;
    border-right: 10px #303952 solid;
    cursor: pointer;
    background-color: rgb(223, 219, 219);
}
p>select{
    padding: 5px;
    font-size: 18px;
    width: 100%;
}

@media (max-device-width: 425px) {
    form{
        justify-content: center;
        font-size: 24px;
        height: 80%;
        width: 90%;
    }
    .bigspan{
        border-left-color: #303952;
        margin-bottom: 2%;
        font-size: 27px;
    }
    p>input{
        padding: 10px;
        font-size: 24px;
        border: grey solid 2px;
    }

    button[type=submit]{
        padding: 15px 0;
        font-size: 24px;
    }

    form>a{
        padding: 15px;
        font-size: 24px;
        margin-top: 25px;
    }

    p>select{
        padding: 15px;
        font-size: 24px;
        background-color: white;
        border: grey solid 2px;
    }
}





ul{
    margin: 0;
    background-color: #303952;
    padding-top:10px;
    padding-bottom:10px;
    color: #fff;
}


