html{
    background-color: #c44569;
   }

.settings{
    display: grid;
    grid-template-areas: "bckbtn . ."
    "setting setting setting";
    grid-template-columns: 200px auto 250px;
    grid-template-rows: 70px auto;
    min-height: 450px;
    margin-bottom: 20px;
}

.setting{
    grid-area: setting;
    display: grid;
    grid-template-areas: "setbg setbg"
    "setinfo setavatar";
    grid-template-columns: auto 500px;
}

.setting>div{
    padding: 10px;
}


.setinfo{
    grid-area: setinfo;
   
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.setinfo>form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    min-height: 400px;
}
.setinfo input[type=submit]{
    padding: 10px;
    border: 0;
    font-size: 18px;
    height: 40px;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 0 10px;
    margin: 0;
    background-color: rgb(241, 241, 241);
}
.setinfo input[type=submit]:hover{ 
    padding: 0;
    border-left: 10px #c44569 solid;
    border-right: 10px #c44569 solid;
    margin: 0 5px;
    cursor: pointer;
    background-color: rgb(223, 219, 219);
}
.setinfo input{
    padding: 5px;
    font-size: 18px;
    width: 100%;
}

.setbg{
    grid-area: setbg;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
#bg{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 10px;
}
#setbg{
    display: flex;
    flex-direction: column;
}

#bgsend,.bgsend{
    padding: 10px;
    border: 0;
    font-size: 18px;
    height: 40px;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 0 10px;
    margin: 0;
    background-color: rgb(241, 241, 241);
    width:45%;
}
#bgsend:hover,.bgsend:hover{ 
    padding: 0;
    border-left: 10px #c44569 solid;
    border-right: 10px #c44569 solid;
    margin: 0 5px;
    cursor: pointer;
    background-color: rgb(223, 219, 219);
}
#bgupload{
    padding:10px;
    margin: auto;
}



.setavatar{
    grid-area: setavatar;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}
#avatar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 10px;
    display: none;
}
#setavatar{
    display: flex;
    flex-direction: column;
}
#Avatarsend{
    padding: 10px;
    border: 0;
    font-size: 18px;
    height: 40px;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 0 10px;
    margin: 0;
    background-color: rgb(241, 241, 241);
}
#Avatarsend:hover{ 
    padding: 0;
    border-left: 10px #c44569 solid;
    border-right: 10px #c44569 solid;
    margin: 0 5px;
    cursor: pointer;
    background-color: rgb(223, 219, 219);
}
#Avatarupload{
    padding: 10px;
    margin: auto;
}

.bckbtn{
    grid-area: bckbtn;
    font-weight: bold;
    background-color: #c44569;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin: 20px;
    height: 30px;
}
.bckbtn>span{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 10px;
}
.bckbtn>*{
    padding: 5px 0;
}
.bckbtn:hover>span{
    background-color: #c44569;
    color: white;
}

.bigspan{
    border-left-color: #c44569;
    margin: 10px 0;
}