{% load static %}
{% include "../base.html" %}
{% load FilmTags %}

<link rel="stylesheet" href={% static 'Films/styles/film.css' %} type="text/css" />
<meta name="description" content="{{film.disctiption}}" />
<title>{{film.name}} / {{film.originalname}} / Фильм</title>

<body>
    <div class="headBlock">
        <a href={% url 'filmlist' %} class="bckbtn">
            <b>◄</b><span>К списку фильмов</span>
        </a>
    </div>

        <div class="FilmName">
            <h1>{{film.name}} / {{film.originalname}}</h1>
        </div>
        
        <img class="poster" src={{film.img.url}}>
        
        <div class="Filminfo">
            <h1 class="bigspan">
                Информация
            </h1>
            <div>
                <span>
                    Тип: <span>Фильм</span>
                </span>    
                <span>
                    Жанр:
                    {% for i in film.tags.all %}
                        <a class="genre" href="{% url 'filmlist' %}?genres={{i.slug}}">{{i.name}}</a>
                    {% endfor %}
                </span>
                <span>
                    Дата выхода: <span>{{film.release_date}}</span>
                    
                </span>
                <span>
                    Длительность эпизода: <span>{{film.length}} минут</span>
                </span>
                <a href="https://www.themoviedb.org/movie/{{film.tmdbid}}">Страница на TMDB</a>
            </div>
        </div>

        <div class="userrate">
            <h1 class="bigspan">Общая оценка</h1>
            <div>
                <span>{{film.rating}}</span>
                <div id="stars"></div>
                <script>
                var rat=Math.round({{film.rating}});
                for (var i = 1; i<=rat;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Films/star"+i%2+"_20px_2.png";
                    stars.appendChild(img);
                }
                for (var i = rat+1; i<=10;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Films/star"+i%2+"_20px_1.png";
                    stars.appendChild(img);
                }
                </script>
            </div>
        </div>
        {% if user.is_authenticated %}
            {% followingListF user.profile film %}
        {% endif %}
        <link rel="stylesheet" href={% static 'List/styles/numeric.css' %} type="text/css" />

        {% if UserItem %}
        <div class='actionpanel'>
            <a href="{% url 'dellist'  film.id %}">Убрать из списка</a>
            {% include "Films/blocks/selectBox.html" %}
            {% include "Films/blocks/stars.html" %}
            <script src="{% static "List/scripts/ActionPanel.js" %}"></script>
            <script src="{% static "List/scripts/getCookie.js" %}"></script>
            <div class="numchange">
                <span>Повторные просмотры:</span>
                <div class=numericinput>
                    <span onclick="setReWatch({{UserItem.id}},'dec')">-</span>
                    <input id=numerinputRewatch_{{UserItem.id}} type="number" min=0 max=255 onchange="setReWatch({{UserItem.id}},'set')" value="{{UserItem.rewatch}}">
                    <span onclick="setReWatch({{UserItem.id}},'inc')">+</span>
                </div>
            </div>
        </div>
        {% else %}
        <div class='actionpanel'>
            <a href="{% url 'addlist' film.id %}">Добавить в список</a>
        </div>
        {% endif %}


       <div class="blocks">
           <details class=discription id="filmdiscription">
                <summary class="bigspan">Описание</summary>
                <p>
                    {{film.disctiption}}
                </p>
            </details>
           <script>
               AdaptiveOpenDetails(window,filmdiscription);
           </script>
           {% SimilarFilms film %}
       </div>


        <div class="comments">
            <h1 class="bigspan">Комментарии</h1>
            {% load Comments %}
            {% addcomments film %}
            {% commentslist film %}
        </div>

    </div>
</body>