{% load static %}
{% include "../base.html" %}

<link rel="stylesheet" href="{% static "Films/styles/filmlist.css" %}" />

<link href="{% static "Films/styles/AjaxPagination.css" %}" rel="stylesheet">
<script src="{% static "Main/scripts/AjaxPagination.js" %}"></script>

<title>Фильмы</title>


<body>
    <div class="headBlock"> 
        <span class="HeadName">Фильмы</span>
        <a href="{% url 'addmovie'%}" class="addfilm">Добавить фильм</a>
    </div>
    <p class="pagedisc">
        Список фильмов отсортированный по дате выхода. Если вы вдруг не нашли ваш фильм, просто добавьте его, нажав на кнопку "Добавить фильм".
    </p>
    <div id="films">
        {% load TagsFilterF %}
        {% show_avalible_filtersF %}

        <div id="filmList">
        {% for film in List %}
            <a href="{% url 'film' film.id %}" class="film" title="{{film.name}} / {{film.originalname}} ({{film.year}})">
                <div class="poster">
                    <img src={{film.img.url}}>
                </div>
                <span >{{film.name}} / {{film.originalname}}</span>
                <div class="filmsmallinfo">
                    <span>{{film.year}}</span>
                    {% if film.InMyList%}<span style="background-color: #e15f41;color: white;padding: 2px;">В списке</span>{% endif %}
                </div>
            </a>
        {% endfor %}
        {% include "Films/blocks/AjaxPagination.html" with page=List urlname="filmlist_page" %}
        </div>

    </div>
</body>