{% load static %}
{% include "../base.html" %}

<link rel="stylesheet" href={% static 'Films/styles/film.css' %} type="text/css" />

<title>{{Film.name}} / {{Film.originalname}} / Фильм</title>

<body>
    <div class="headBlock">
        <a href={% url 'filmlist' %} class="bckbtn">
            <b>◄</b><span>К списку фильмов</span>
        </a>
    </div>

        <div class="FilmName">
            <span>{{Film.name}} / {{Film.originalname}}</span>            
        </div>
        
        <img class="poster" src={{Film.img.url}}>
        
        <div class="Filminfo">
            <span class="bigspan">
                Информация
            </span>
            <div>
                <span>
                    Тип: <span>Фильм</span>
                </span>    
                <span>
                    Жанр:
                    {% for i in Film.tags.all %}
                        <a class="genre" href="{% url 'filmlist' %}?genres={{i.slug}}">{{i.name}}</a>
                    {% endfor %}
                </span>
                <span>
                    Дата выхода: <span>{{Film.year}}</span>
                    
                </span>
                <span>
                    Длительность эпизода: <span>{{Film.length}} минут</span>
                </span>
                <a href="https://www.kinopoisk.ru/film/{{Film.kinopoiskid}}">Страница на Кинопоиск</a>
            </div>
        </div>
        
        <div class="userrate">
            <span class="bigspan">Пользовательская оценка</span>
            <div>
                <span>{{Film.rating}}</span>
                <div id="stars"></div>
                <script>
                var rat=Math.round({{Film.rating}});
                for (var i = 1; i<=rat;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Films/star"+i%2+"_20px_2.png";
                    stars.appendChild(img);
                }
                for (var i = rat+1; i<=10;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Films/star"+i%2+"_20px_1.png";
                    stars.appendChild(img);
                }
                </script>
            </div>
        </div>

        {% if user.is_authenticated %}
            {% load FilmTags %}
            {% friendListF user.profile Film %}
        {% endif %}

        {% if UserItem %}
        <div class='actionpanel'>
            {% include "Films/blocks/selectBox.html" %}
            {% include "Films/blocks/stars.html" %}
            <a href="{% url 'delfilm' Film.id %}">Убрать из списка</a>
            
        </div>
        {% else %}
        <div class='actionpanel'>
            <a href="{% url 'addfilm' Film.id %}">Добавить в список</a>
        </div>
        {% endif %}
       
        <details class=discription id="filmdiscription">
            <summary class="bigspan">Описание</summary>
            <p>
                {{Film.disctiption}}
            </p>
        </details>
        <script>
            AdaptiveOpenDetails(window,filmdiscription);
        </script>

        {% include 'Films/blocks/similar_films.html' %}

        <div class="comments">
            <span class="bigspan">Комментарии</span>
            {% load comments %}
            {% include 'Main/blocks/AddComment.html' %}
            {% commentslist Film %}
        </div>

    </div>
</body>