{% load static %}
{% include "../base.html" %}

<link rel="stylesheet" href="{% static "Films/styles/filmlist.css" %}" />
<link href="{% static "Films/styles/AjaxPagination.css" %}" rel="stylesheet">
<script src="{% static "Main/scripts/AjaxPagination.js" %}"></script>

<title>Фильмы похожие на {{ film.name }}</title>


<body>
    <div class="headBlock">
        <a href={% url 'film' film.id %} class="bckbtn">
            <b>◄</b><span>К фильму {{ film.name }}</span>
        </a>
    </div>
    <p class="pagedisc HeadName">
        Фильмы похожие на {{ film.name }}
    </p>
    <div id="films">
        {% load TagsFilterF %}
        {% show_avalible_filtersF %}

        <div id="filmList">
        {% for film in List %}
            <a href="{% url 'film' film.id %}" class="film" title="{{film.name}} / {{film.originalname}} ({{film.year}})">
                <div class="poster">
                    <img height="200px" src={{film.img.url}}>
                </div>
                <span >{{film.name}} / {{film.originalname}}</span>
                <div class="filmsmallinfo">
                    <span>{{film.year}}</span>
                    {% if film.InMyList == "True" %}<span style="background-color: #e15f41;color: white;padding: 2px;">В списке</span>{% endif %}
                </div>
            </a>
        {% endfor %}
        {% include "Films/blocks/AjaxPagination.html" with page=List urlname="filmlist_page" %}
        </div>
    </div>
</body>