{% load static %}
{% include "../base.html" %}
{% load FilmTags %}

<link rel="stylesheet" href={% static 'Films/styles/film.css' %} type="text/css" />

<title>{{film.name}} / {{film.originalname}} / Фильм</title>

<body>
    <div class="headBlock">
        <a href={% url 'filmlist' %} class="bckbtn">
            <b>◄</b><span>К списку фильмов</span>
        </a>
    </div>

        <div class="FilmName">
            <span>{{film.name}} / {{film.originalname}}</span>
        </div>
        
        <img class="poster" src={{film.img.url}}>
        
        <div class="Filminfo">
            <span class="bigspan">
                Информация
            </span>
            <div>
                <span>
                    Тип: <span>Фильм</span>
                </span>    
                <span>
                    Жанр:
                    {% for i in film.tags.all %}
                        <a class="genre" href="{% url 'filmlist' %}?genres={{i.slug}}">{{i.name}}</a>
                    {% endfor %}
                </span>
                <span>
                    Дата выхода: <span>{{film.year}}</span>
                    
                </span>
                <span>
                    Длительность эпизода: <span>{{film.length}} минут</span>
                </span>
                <a href="https://www.kinopoisk.ru/film/{{film.kinopoiskid}}">Страница на Кинопоиск</a>
            </div>
        </div>

        <div class="userrate">
            <span class="bigspan">Пользовательская оценка</span>
            <div>
                <span>{{film.rating}}</span>
                <div id="stars"></div>
                <script>
                var rat=Math.round({{film.rating}});
                for (var i = 1; i<=rat;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Films/star"+i%2+"_20px_2.png";
                    stars.appendChild(img);
                }
                for (var i = rat+1; i<=10;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Films/star"+i%2+"_20px_1.png";
                    stars.appendChild(img);
                }
                </script>
            </div>
        </div>

        {% if user.is_authenticated %}

            {% friendListF user.profile film %}
        {% endif %}

        <link rel="stylesheet" href={% static 'List/styles/numeric.css' %} type="text/css" />
        <script src="{% static "List/scripts/rewatchCounterF.js" %}"></script>
        {% if UserItem %}
        <div class='actionpanel'>
            {% include "Films/blocks/selectBox.html" %}
            <a href="{% url 'delfilm'  film.id %}">Убрать из списка</a>
            {% include "Films/blocks/stars.html" %}

        <div class="numchange">
                 <div class=numeric>
                     <span>Повторные просмотры:</span>
                     <span id="userRewatch_{{UserItem.id}}">{{UserItem.rewatch}}</span>
                 </div>
                 <div class=numericinput>
                     <div>
                          <span>Повторные просмотры:</span>
                     </div>
                     <div>
                         <span onclick="decrementrewatch({{UserItem.id}})">-</span>
                         <input id=numerinputRewatch_{{UserItem.id}} type="number" min=0 max=255 onchange="setrewatch({{UserItem.id}})" value="{{UserItem.rewatch}}">
                         <span onclick="incrementrewatch({{UserItem.id}})">+</span>
                     </div>
                 </div>
            </div>
            
        </div>
        {% else %}
        <div class='actionpanel'>
            <a href="{% url 'addfilm' film.id %}">Добавить в список</a>
        </div>
        {% endif %}
       
        <details class=discription id="filmdiscription">
            <summary class="bigspan">Описание</summary>
            <p>
                {{film.disctiption}}
            </p>
        </details>
        <script>
            AdaptiveOpenDetails(window,filmdiscription);
        </script>

    {% SimilarFilms film %}


        <div class="comments">
            <span class="bigspan">Комментарии</span>
            {% load comments %}
            {% include 'Main/blocks/AddComment.html' %}
            {% commentslist film %}
        </div>

    </div>
</body>