{% load static %}
{% include "../base.html" %}

<title>Добавление в MovieNET</title>
<meta name="description" content="Для сохранения целостности и актуальности базы данных данного сервиса, добавление фильмов и сериалов происходит после подтверждения существования фильма или сериала в The Movie Database, т.е. прежде чем добавить сериал или фильм его нужно найти." />

<link rel="stylesheet" href={% static 'Main/styles/addmovie.css' %} type="text/css" />
<script async src="{% static "Main/scripts/searchkino.js" %}"></script>
<body>
    <h1 class="HeadName">Добавление в MyWatchList</h1>
    <div class="Search">
        <input id="searchbox" type="text" placeholder="Введите название фильма">
        <button onclick="search()">Поиск</button>
    </div>
    <p class="discript">
        Для сохранения целостности и актуальности базы данных данного сервиса, добавление фильмов и сериалов происходит после подтверждения существования фильма или сериала в The Movie Database, т.е. прежде чем добавить сериал или фильм его нужно найти. Поэтому пожалуйста найдите его через поле поиска ниже, а после нажмите на сериал или фильм.
    </p>

    <div class="content" id="results">
    </div>

</body>

