{% load static %}
{% load index_tags %}
{% include "../base.html" %}
<link rel="stylesheet" href={% static 'Main/styles/index.css' %} type="text/css" />


<title>My Watch List</title>

<body>
    <div class="index">
        <div class="block auth">
            <div class="sectionspanandrefer">                           
                <div class="header">
                    <img src={% static "images/favicon.ico" %}>
                    <span>My Watch List</span>
                </div>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="sectionspan bigheader">
                        <img style="margin-right:10px" src={% static "images/navbar/exit.png" %}>
                        <span>Выход</span>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="sectionspan bigheader">
                        <img style="margin-right:10px" src={% static "images/navbar/login.png" %}>
                        <span>Войти</span>
                    </a>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated %}
            <div class="profile">
                <div>
                    <a title="{{user.first_name}} {{user.last_name}}" class="username" href="{% url 'profile' user.username %}">
                        <span class="sectionspan bigheader">
                            <span>
                                {{user.first_name}} {{user.last_name}}
                            </span>
                        </span>
                        <img src="{{user.profile.photo.url}}">
                    </a>
                </div>
                {% friends user.profile %}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            {% MyLastSeries user.profile %}
            {% MyLastFilms user.profile %}
        {% else %}
            {% include 'Main/infopage.html' %}
        {% endif %}

        {% if user.is_authenticated %}
            <div class="list block">
                <div class="sectionspanandrefer">
                    <span class="sectionspan bigheader">Активности</span>
                </div>
                
                {% include './blocks/feed.html' %}
            </div>
        {% endif %}

        <div class="footer">
            <div style="width:100px">
                <img src={% static "images/logo.png" %}>
                <span style="text-align:center">Created by nikminer</span>
            </div>
            <div>
                <h3>Данный сервис находится на стадии Альфа-теста, просьба сообщать о всех багах сюда:</h3>
                <a href="mailto:thenikminer@yandex.ru">thenikminer@yandex.ru</a>
            </div>
            <div class="links">
                <span>Ссылки:</span>
                <div>
                    <a href="https://github.com/fgl-foundation/MyWatchList">
                        <img src={% static "images/github.png" %}>
                    </a>
                <div>
            </div>
        </div>
    </div>
</body>
