{% load static %}
<div class="list blockinfo">
    <span class="sectionspan">Удобный список просматриваемых сериалов и фильмов</span>
    <div>
        <p>
        Добавьте любой фильм или сериал в свой список, чтобы не потерять его, или чтобы не забыть на какой серии вашего любимого сериала вы остановились.
        </p>
        <img src="{% static "images/list.png" %}">
    </div>

</div>
<div class="movies blockinfo">
    <span class="sectionspan">Добавление на сайт фильмов и сериалов в один клик</span>
    <div>
        <p>
        Не можете найти нужный вам фильм или сериал на сайте, тогда добавьте его на сайт в один клик.
        </p>
        <img src="{% static "images/films.png" %}">
    </div>

</div>

<div class="Serials blockinfo">
    <span class="sectionspan">Разбитие сериалов на сезоны и отслеживание выхода новых серий</span>
    <div>
        <p>
        Благодаря разбиению сериалов на сезоны ваш список сериалов не будет излишне перегружен и не потребуется тратить слишком много времени на его поиск. А система отслеживания серий всегда уведомит вас о выходе новой серии вашего любимого сериала.
        </p>
        <img src="{% static "images/series.png" %}">
    </div>
</div>

<div class="profileinfo blockinfo">
    <span class="sectionspan">Элементы социальной сети</span>
    <div>
        <p>
            Пригласите друзей и делитесь своей активностью. Просматривайте списки друзей и находите в них новые для себя фильмы и сериалы. Комментируйте и обсуждайте фильмы и сериалы.
        </p>
        <img src="{% static "images/social.png" %}">
    </div>
</div>
