{% load staticfiles %}
{% include "../base.html" %}

<link rel="stylesheet" href={% static 'Profile/notifications.css' %} type="text/css" />
<script src="{% static "List/scripts/getCookie.js" %}"></script>
<script src="{% static 'Profile/scripts/delete.js' %}"></script>
<title>Уведомления / {{request.user.profile.name}}</title>

<body>
    <div class="dialog">
        <a href="{% url 'profile' request.user.username %}" class="bckbtn">
            <b>◄</b><span>К профилю</span>
        </a>
        <div class="notifications">
            {% if notifications %}
                {% for notification in notifications %}
                <div id={{notification.id}} class="notification">
                    <img src={{notification.obj.img.url}}>
                    <div>
                        <a href="{{notification.url}}">{{notification.obj.name}}</a>
                        <span class="sended">{{notification.sended}}</span>
                        <span>{{notification.message}}</span>
                    </div>
                    <div>
                        <span class="delbtn" onclick=deleteNoti(this.parentElement.parentElement) href="" title="Удалить уведомление"></span>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h3>Уведомлений нет</h3>
            {% endif %}
        </div>
    </div>
</body>