{% load staticfiles %}
{% include "../base.html" %}

<link rel="stylesheet" href={% static 'Profile/profile.css' %} type="text/css" />

<title>Профиль {{profile.user.first_name}} {{profile.user.last_name}}</title>

<body>
    <div class="profile">
        <a href={% url 'index' %} class="bckbtn">
            <b>◄</b><span>На главную</span>
        </a>

        <div class="profilehead">
            <div class="bgimg">
            
                <style>
                    {% if profile.photobg %}
                    .bgimg{
                        background-image: url({{profile.photobg.url}});
                        background-size:cover
                    }
                    {% else %}
                    .bgimg{
                        background-image: url(http://lorempixel.com/1280/720/abstract);
                        background-size:cover
                    }
                    {% endif %}
                </style>
            </div>
            <img class="avatar" src="{{profile.photo.url}}">
        </div>
        <div class="profileinfo">
            <div class="userSB">
                <span style="grid-area:s;text-align: right;">
                    {% if profile.sex == "M" %}
                        Муж.
                    {% else %}
                        Жен.
                    {% endif %}
                    </span>
                <span style="grid-area:b">{{profile.age}} лет.</span>
            </div>
            <div class="userfl">
                <span style="grid-area:f;text-align: right;">{{profile.user.first_name}}</span>
                <span style="grid-area:l">{{profile.user.last_name}}</span>
            </div>
           
        </div>
        <div class="section0">
            {% if profile.user.username == request.user.username %}
            <!--
            <a href="{% url 'settings' %}">
                <img width="30px" src={% static 'images/messages.png' %} >
                <span>Мои сообщения</span>
            </a>-->
            <a href="{% url 'settings' %}">
                <img width="30px" src={% static 'images/settings.png' %} >
                <span>Настройки профиля</span>
            </a>
            {% endif %}
            {% if profile.user.username != request.user.username %}
                <!--
                    <a href="{% url 'dialog' profile.user.username %}">
                        <img width="30px" src={% static 'images/messages.png' %} >
                        <span style="font-size:17px">Отправить сообщение</span>
                    </a>
                -->
                {% if ismyfriend%}
                    <a href="{% url 'remfriend' profile.user.username %}">
                        <img width="30px" src={% static 'images/removefriend.png' %} >
                        <span>Убрать из Друзей</span>
                    </a>
                {% else %}
                    <a href="{% url 'addfriend' profile.user.username %}">
                        <img width="30px" src={% static 'images/addtofriend.png' %} >
                        <span>Добавить в Друзья</span>
                    </a>
                {% endif %}
            {% endif %}
            
        </div>
        <div class="section1">
            <div class="friends">
                <span class="bigspan">
                    <a href={% url 'friends' profile.user.username %}>Друзья ({{friends.count}}{% if friends.requestcount > 0 %}+{{friends.requestcount}}{% endif %})</a>
                </span>
                <div>
                {% if friends.count > 0 %}
                    {% for i in friends.list %}
                    <a href="{% url 'profile' i.user.username %}" style="margin:6px;width:50px;height:50px;background-image:url('{{i.photo.url}}');background-size:contain" title="{{i.user.first_name}} {{i.user.last_name}}"></a>
                    {% endfor %}
                {% else %}
                    <span style="padding:5px">У вас пока нет друзей</span>
                {% endif %}
                    

                </div>
            </div>

            <div class="serials">
                <a href={% url 'listserial' profile.user.username %} style="border-left-color: #546de5;" class="bigspan">
                    Сериалы 
                </a>
                <div>
                    <div class="diagramm">
                        <div style="width:{{serials.planned.width}}%;background-color:gray;" >
                        </div>
                        <div style="width:{{serials.watch.width}}%;background-color:#778beb;" >
                        </div>
                        <div style="width:{{serials.watched.width}}%;background-color:#546de5;" >
                        </div>
                    </div>
                    <div class="legend">
                        <a href="{% url 'listserial' profile.user.username %}?groups=planned">В планах ({{serials.planned.count}})</a>
                        <a href="{% url 'listserial' profile.user.username %}?groups=watch+rewatch" style="border-left-color: #778beb;">Смотрю ({{serials.watch.count}})</a>
                        <a href="{% url 'listserial' profile.user.username %}?groups=watched" style="border-left-color: #546de5;">Просмотрено ({{serials.watched.count}})</a>
                    </div>
                </div>
            </div>

            <div class="films">
                <a href={% url 'listfilm' profile.user.username %} style="border-left-color: #e15f41;" class="bigspan">
                    Фильмы 
                </a>
                <div>
                    <div class="diagramm">
                        <div style="width:{{films.planned.width}}%;background-color:gray;" >
                        </div>
                        <div style="width:{{films.watch.width}}%;background-color:#e77f67;" >
                        </div>
                        <div style="width:{{films.watched.width}}%;background-color:#e15f41;" >
                        </div>
                    </div>
                    <div class="legend">
                        <a href="{% url 'listfilm' profile.user.username %}?groups=planned" >В планах ({{films.planned.count}})</a>
                        <a href="{% url 'listfilm' profile.user.username %}?groups=watch+rewatch" style="border-left-color: #e77f67;">Смотрю ({{films.watch.count}})</a>
                        <a href="{% url 'listfilm' profile.user.username %}?groups=watched" style="border-left-color: #e15f41;">Просмотрено ({{films.watched.count}})</a>
                    </div>
                </div>
            </div>
        </div>
        {% if feed %}
            <div class="sectionFeed">
                    <span style="border-left-color: #3dc1d3;" class="bigspan">
                        Активность 
                    </span>
                {% for feeditem in feed %}
                <a href="{{feeditem.list.get_absolute_url}}" class="feeditem">
                    <div class="feedaction">
                        <img src="{{feeditem.list.obj.img.url}}">
                        <div>
                            <span>{{feeditem.list.obj.name}}</span>
                            <span>{{feeditem.action}}</span>
                            <span class="feedtimestamp">{{feeditem.created}}</span>
                        </div>
                    </div>
                    
                </a>
                {% endfor %}
            </div>
        {% endif %}
        
    </div>
</body>