{% include "../../base.html" %}
{% load static %}


<title>Письмо с инструкцией отправлено</title>
<link rel="stylesheet" href={% static 'Profile/login.css' %} type="text/css" />

<body>
    {% if user.is_authenticated %}
    <meta http-equiv="Refresh" content="0; URL={% url 'index' %}">
    {% else %}
    <form method="post">
        <span class="bigspan">Письмо с инструкциями по восстановлению пароля отправлено</span>
        <p>Мы отправили вам по электронной почте инструкции по установке пароля.</p>
        <p>Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, на который зарегистрировались.</p>

        <p>Можете закрыть данную страницу.</p>
    </form>
    {% endif %}
</body>