{% include "../../base.html" %}
{% load static %}


<title>Восстановление пароля</title>
<link rel="stylesheet" href={% static 'Profile/login.css' %} type="text/css" />

<body>
    {% if user.is_authenticated %}
    <meta http-equiv="Refresh" content="0; URL={% url 'index' %}">
    {% else %}
    <form method="post">
        <a href="{% url 'login' %}">Авторизация</a>
        <a href="{% url 'register' %}">Регистрация</a>
        <span class="bigspan">Восстановление пароля</span>
        {% if error %}
           <span class="errorlist">{{error}}</span>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Восстановить</button>

    </form>
    {% endif %}
</body>
