{% for feeditem in feed %}

    <a {% if feeditem.item %} href="{{ feeditem.item.get_absolute_url }}" {% endif %} class="feeditem">
        <div class="feedaction">
            {% if feeditem.item %}
                <img src="{{ feeditem.item.img.url }}">
            {% endif %}
            <div>
                {% if feeditem.item %}
                    <span>{{ feeditem.item.movie.name }} {{ feeditem.item.name }}</span>
                {% endif %}
                <span>{{ feeditem.verb }}</span>
                <span class="feedtimestamp">{{ feeditem.created|timesince }} назад</span>
            </div>
        </div>
    </a>
{% endfor %}
{% include "Profile/blocks/AjaxPagination.html" with page=feed urlname="seriallist_page" %}