{% load static %}
<link rel="stylesheet" href="{% static "List/styles/faststatus.css" %}" />

<div id="faststatus">
    <div ondrop="fastdrop(event, 'planned')" ondragover="allowDrop(event)"><span>В планах</span></div>
    <div ondrop="fastdrop(event, 'watch')"  ondragover="allowDrop(event)"><span>Смотрю</span></div>
    <div ondrop="fastdrop(event, 'rewatch')"  ondragover="allowDrop(event)"><span>Пересматриваю</span></div>
    <div ondrop="fastdrop(event, 'watched')"  ondragover="allowDrop(event)"><span>Просмотрено</span></div>
    <div ondrop="fastdrop(event, 'drop')"  ondragover="allowDrop(event)"><span>Брошено</span></div>
</div>