{% if type == "series" %}
    <link rel="stylesheet" href="{% static "List/styles/season.css" %}" />

    <script src="{% static "List/scripts/search.js" %}"></script>
    {% if request.user == user %}
    <script src="{% static "List/scripts/dragNdrop.js" %}"></script>
    <script src="{% static "List/scripts/episodeCounter.js" %}"></script>
    <script src="{% static "List/scripts/rewatchCounter.js" %}"></script>
    {% endif %}






{% endif %}

{% if type == "films" %}

    <script src="{% static "List/scripts/searchf.js" %}"></script>
    {% if request.user == user %}
    <script src="{% static "List/scripts/dragNdropF.js" %}"></script>
    <script src="{% static "List/scripts/rewatchCounterF.js" %}"></script>
    {% endif %}
       
{% endif %}

    </body>



