html{
    background-color: #e15f41;
   }

body{
    padding: 20px;
    display: grid;
    grid-template-areas: "headBlock headBlock headBlock"
    "FilmName FilmName FilmName "
    "poster FilmInfo userrate"
    "poster FilmInfo friends"
    "actionpanel blocks blocks"
    "comments comments comments";
    grid-template-columns: 200px auto 250px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    min-height: 350px;
}

.headBlock{
    grid-area: headBlock;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bckbtn{
    font-weight: bold;
    background-color: #e15f41;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    padding: 2px;
}
.bckbtn>span{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
}
.bckbtn>*{
    padding: 5px 0;
}
.bckbtn:hover>span{
    background-color: #e15f41;
    color: white;
}

#stars{
    width:150px;
    height: 30px;
    padding-left:10px;
}
#stars>img{
    height: 30px;
}
.userrate{
    grid-area:userrate;
    display: flex;
    flex-direction: column;
    animation: fade-in 1s ease;
}
.userrate>div{
    padding: 5px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.userrate>div>span{
    font-size:25px;
    font-weight: bold;
}

.FilmName{
    font-size:25px;
    font-weight: bold;
    grid-area: FilmName;
    margin-bottom: 10px;
    border-bottom: #e15f41 2px solid;
    padding-bottom: 10px;
}
.FilmName>h1{
    font-size: 25px;
    margin-bottom: 0px;
}
.poster{
    grid-area: poster;
    width: 200px;
    animation: fade-in 1s ease;
}

.Filminfo{
    display: flex;
    flex-direction: column;
    grid-area:FilmInfo;
    animation: fade-in 1s ease;
}
.Filminfo>div{
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    grid-area:FilmInfo;
}
.Filminfo>div>span{
    padding: 7px 0;
    color: #7b8084;
}
.Filminfo>div>a{
    padding:5px;
    color: black;

    transition: all 0.5s ease;
    width: 180px;
    text-align: center;
    margin-top: 20px;
}
.Filminfo>div>a:hover{
    background-color: #e15f41;
    color:white;
    text-decoration: none;
}
.Filminfo>div>span>span{
    color: black;
}

.genre{
    color: black;
    background-color: white;
    padding: 2px 3px;
    transition: all 0.5s ease;
}
.genre:hover{
    text-decoration: none;
    color: white;
    background-color: #e15f41;
}

.bigspan{
    border-left: 10px #e15f41 solid;
}

.blocks{
    grid-area: blocks;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.blocks>*{
    margin: 10px 0;
}
.blocks>*:first-child{
    margin-top: 0;
}
.discription{
    display: flex;
    flex-direction: column;
    color: black;
    animation: fade-in 1s ease;
}
.discription>p{
    font-size: 15px;
    padding: 5px 10px;
    margin: 0;
    word-spacing: 2px;
}

.friends{
    grid-area: friends;
    display: flex;
    flex-direction: column;
    animation: fade-in 1s ease;
}
.friends>div{
    margin-top: 5px;
    max-height: 140px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
}
.friends>div>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    padding: 5px;
    transition: all 0.5s ease;
}
.friends>div>a:hover{
    text-decoration: none;
    color: white;
    background-color: #e15f41;
}
.friends>div>a>img{
    height:35px;
    margin-right: 10px;
}

.actionpanel{
    grid-area: actionpanel;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: fade-in 1s ease;
}
.actionpanel>a{
    background-color: rgb(223, 219, 219);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    text-decoration: none;
    background-color: rgb(241, 241, 241);
    transition: all 0.5s ease;
    font-weight: bold;
}
.actionpanel>a:hover{
    border-left: 10px #e15f41 solid;
    border-right: 10px #e15f41 solid;
    cursor: pointer;
    background-color: rgb(223, 219, 219);
    width: 90%;
}
.actionpanel *:nth-child(1n){
    margin-bottom:5px;
}


.comments{
    grid-area: comments;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: fade-in 1s ease;
}

@media (max-device-width: 425px) {
    body{
        grid-template-areas: "headBlock headBlock "
        "FilmName FilmName"
        "FilmInfo userrate"
        "FilmInfo poster"
        ". actionpanel"
        "discription discription"
        "similarfilms similarfilms"
        "friends friends"
        "comments comments";
        grid-template-columns: auto 270px;
        grid-row-gap: 10px;
        grid-column-gap: 20px;
        min-height: 350px;
    }
    .bigspan{
        border-left-width: 15px;
    }
    .bckbtn{
        margin-bottom: 20px;
        padding: 3px;
    }
    .bckbtn>span{
        font-size: 26px;
    }

     #stars{
        width:270px;
        height: 40px;
    }
    #stars>img{
        height: 35px;
    }
    .userrate>div>span{
        font-size:35px;
    }
    .userrate>.bigspan{
        display: none;
    }

    .FilmName{
        font-size:30px;
        margin-bottom: 15px;
        border-bottom-width: 4px;
        padding-bottom: 15px;
    }

    .poster{
        width: 270px;
    }

    .Filminfo>div{
       margin-top: 15px;
       font-size: 28px;
    }
    .Filminfo>div>span{
        padding: 9px 0;
    }
    .Filminfo>div>a{
        padding:10px;
        width: 90%;
    }
    .genre{
        margin: 6px 8px;
    }

    .discription>p{
        font-size: 22px;
        padding: 5px 10px;
    }

    .friends{
        font-size: 28px;
        margin-top: 20px;
    }
    .friends>div{
        margin-top: 15px;
        max-height: 320px;
    }
    .friends>div>a{
        padding: 10px;
    }
    .friends>div>a>img{
        height:60px;
        margin-right: 20px;
    }

    .actionpanel{
        font-size: 25px;
    }
    .actionpanel>a{
        height: 40px;
        margin: 10px 0;
    }

    .comments{
        margin-top: 20px;
    }
}


