html{
 background-color: #e15f41;
}


.headBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.HeadName{
    font-size: 25px;
    font-weight: bold;
}



.addfilm{
    padding: 5px;
    width: 150px;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
    text-align: center;
    font-weight: bold;
    background-color: #e15f41;
}
.addfilm:hover{
    background-color: #e15f41;  
}

.pagedisc{
    margin: 20px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: #e15f41 solid 2px;
    border-bottom: #e15f41 solid 2px;
}

.films{
    display: grid;
    grid-template-areas: "filmlist filters";
    grid-template-columns: auto 200px;
    animation: fade-in 1s ease;
}

.filmList{
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.film {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 250px;
    text-decoration: none;
    color:black;
    font-size: 14px;
    transition: all 0.5s ease;
}
.film>span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2px;
}
.film:hover{
    cursor: pointer;
    background-color:rgb(223, 219, 219)
}
.poster{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filmsmallinfo{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}







.filters{
    grid-area: filters;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
}

.filter{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.groupspan{
    font-size: 18px;
    font-weight: bold;
    border-left: #e15f41 10px solid;
    padding-left: 5px;
}

.filter>label{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
.filter>label:hover{
    background-color: #e15f41;
    color: white;
}
.filter>label>span{
    font-size: 17px;
    width: 100%;
    padding: 3px;
    padding-left: 10px;
}
.filter>label>input[type=checkbox]{
    display: none;
}
.filter>label> input[type=checkbox]:checked+span  {
    background-color: #e15f41;
    color: white;
}

.filters>button{
    margin-top: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s all ease;
    padding: 5px;
    font-size: 17px;
    margin-bottom: 5px;
}
.filters>button:hover{
    background-color: #e15f41;
    color: #fff;
}
