html{
    background-color: #e15f41;
   }

.Film{
    margin: 20px;
    display: grid;
    grid-template-areas: "bckbtn . ."
    "FilmName FilmName FilmName "
    "poster FilmInfo userrate"
    "poster FilmInfo friends"
    "actionpanel discription discription"
    ". similarfilms similarfilms";
    grid-template-columns: 200px auto 250px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    min-height: 350px;
}

.bckbtn{
    grid-area: bckbtn;
    font-weight: bold;
    background-color: #e15f41;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
    height: 30px;
}
.bckbtn>span{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 10px;
}
.bckbtn>*{
    padding: 5px 0;
}
.bckbtn:hover>span{
    background-color: #e15f41;
    color: white;
}

#stars{
    width:150px;
    height: 30px;
    padding-left:10px;
}
#stars>img{
    height: 30px;
}
.userrate{
    grid-area:userrate;
    display: flex;
    flex-direction: column;
}
.userrate>div{
    padding: 5px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.userrate>div>span{
    font-size:25px;
    font-weight: bold;
}

.FilmName{
    font-size:25px;
    font-weight: bold;
    grid-area: FilmName;
    margin-bottom: 10px;
    border-bottom: #e15f41 2px solid;
    padding-bottom: 10px;
}
.poster{
    grid-area: poster;
    width: 200px;
}
.Filminfo{
    display: flex;
    flex-direction: column;
    grid-area:FilmInfo
}
.Filminfo>div{
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    grid-area:FilmInfo;
}
.Filminfo>div>span{
    padding: 7px 0;
    color: #7b8084;
}

.Filminfo>div>a{
    padding:5px;
    color: black;

    transition: all 0.5s ease;
    width: 180px;
    text-align: center;
    margin-top: 20px;
}
.Filminfo>div>a:hover{
    background-color: #e15f41;
    color:white;
    text-decoration: none;
}

.Filminfo>div>span>span{
    color: black;
}

.actionpanel{
    grid-area: actionpanel;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.actionpanel>a{
    background-color: rgb(223, 219, 219);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    text-decoration: none;
    background-color: rgb(241, 241, 241);
    transition: all 0.5s ease;
    font-weight: bold;
}
.actionpanel>a:hover{
    border-left: 10px #e15f41 solid;
    border-right: 10px #e15f41 solid;
    cursor: pointer;
    background-color: rgb(223, 219, 219);
    width: 90%;
}
.actionpanel *:nth-child(1n){
    margin-bottom:5px;
}
.discription{
    grid-area: discription;
    display: flex;
    flex-direction: column;
    color: black;
}
.discription>p{
    font-size: 15px;
    padding: 5px 10px;
    margin: 0;
    word-spacing: 2px;
}
.bigspan{
    border-left: 10px #e15f41 solid;
}

.genre{
    color: black;
    background-color: white;
    padding: 2px 3px;
    transition: all 0.5s ease;
}
.genre:hover{
    text-decoration: none;
    color: white;
    background-color: #e15f41;
}
.friends{
    grid-area: friends;
    height: 170px;
    display: flex;
    flex-direction: column;
}
.friends>div{
    margin-top: 5px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
}
.friends>div>a{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    padding: 5px;
    transition: all 0.5s ease;
}
.friends>div>a:hover{
    text-decoration: none;
    color: white;
    background-color: #e15f41;
}
.friends>div>a>img{
    height:35px;
    margin-right: 10px;
}