#selectbox{
    width:100%;
    background-color: #e15f41;
    color: white;
    transition: all 0.5s ease;
}
#selectbox>*{
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
#selectbox>summary{
    margin-bottom: 0px;
}
#selectbox>summary:hover{
    background-color: #e15f41;
}
#selectbox>option:hover{
    background-color: #e15f41;
}

#selectbox:not([open]) { 
    height: 28px; 
}
#selectbox[open] { 
    height: 195px; 
}

@media (max-device-width: 425px) {

    #selectbox:not([open]) {
        height: 40px;
    }

    #selectbox[open] {
        min-height: 265px;
    }
}