{% load static %}
{% include "../../base.html" %}
<link rel="stylesheet" href={% static 'Serials/styles/season/seasonch.css' %} type="text/css" />

<title>Редактирование / {{season.name}} / {{season.serial.name}} / {{season.serial.originalname}} / Сериал</title>

<body>
    <div class="Season">
        <a class="bckbtn" href="{% url 'season' season.id %}">
            <b>◄</b><span>К сезону</span>
        </a>
        <span class="seasonname">{{season.name}} / {{season.serial.name}} / {{season.serial.originalname}}</span>
        <menu>
            <span class="bigspan">Основная информация</span>
            <div class="maininfo">
                <a href= {% url 'seasonchname' season.id %}>Сменить название</a>
                <a href= {% url 'seasonchposter' season.id %}>Сменить постер</a>
                <a href= {% url 'seasonchstatus' season.id %}>Сменить статус сезона</a>
                <a href= {% url 'seasonchdiscript' season.id %}>Сменить описание</a>
            </div>
            
            <span class="bigspan">Cписок эпизодов</span>
            
            <div class="episodelist">
                {% for episode in episodes %}
                <a href=" {% url 'seasonchepisode' season.id episode.id %}" class="episode">
                    <span class="episodecounter">{{forloop.counter}}</span>
                    <span class="name">{{episode.name}}</span>
                    <span class="date">{{episode.date|date:"SHORT_DATE_FORMAT"}}</span>
                </a>
                {% endfor %}
                <a href= {% url 'seasonchepisodeadd' season.id %} class="episode">
                    <span class="episodecounter">+</span>
                    <span class="name">Добавить эпизод</span>
                </a>
            </div>
            {% if request.user.is_staff == 1 %}
                <a class="delseason" href= {% url 'seasonchdelete' season.id %}>Удалить сезон</a>
            {% endif %}
            
        </menu>

        
    </div>

</body>