html{
    background-color: #546de5;
   }

.Serial{
    margin: 20px;
    display: grid;
    grid-template-areas: "bckbtn . ."
    "SerialName SerialName SerialName "
    "poster SerialInfo userrate"
    "poster SerialInfo ."
    "actionpanel discription discription"
    "actionpanel seasons seasons ";
    grid-template-columns: 200px auto 250px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    min-height: 350px;
}

.bckbtn{
    grid-area: bckbtn;
    font-weight: bold;
    background-color: #546de5;
    color: white;
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
    height: 30px;
}
.bckbtn>span{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 100%;
    transition: all 0.5s ease;
    padding-left: 10px;
}
.bckbtn>*{
    padding: 5px 0;
}
.bckbtn:hover>span{
    background-color: #546de5;
    color: white;
}

#stars{
    width:150px;
    height: 30px;
    padding-left:10px;
}
#stars>img{
    height: 30px;
}
.userrate{
    grid-area:userrate;
    display: flex;
    flex-direction: column;
}
.userrate>div{
    padding: 5px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.userrate>div>span{
    font-size:25px;
    font-weight: bold;
}

.serialName{
    font-size:25px;
    font-weight: bold;
    grid-area: SerialName;
    margin-bottom: 10px;
    border-bottom: #546de5 2px solid;
    padding-bottom: 10px;
}
.poster{
    grid-area: poster;
    width: 200px;
}
.serialinfo{
    display: flex;
    flex-direction: column;
    grid-area:SerialInfo
}
.serialinfo>div{
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    grid-area: SerialInfo;
}
.serialinfo>div>span{
    padding: 7px 0;
    color: #7b8084;
}

.serialinfo>div>a{
    padding:5px;
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
    width: 180px;
    text-align: center;
    margin-top: 20px;
}
.serialinfo>div>a:hover{
    background-color: #546de5;
    color:white;
}

.serialinfo>div>span>span{
    color: black;
}

.actionpanel{
    grid-area: actionpanel;
    background-color: rgb(223, 219, 219);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    background-color: rgb(241, 241, 241);
    transition: all 0.5s ease;
    font-weight: bold;
}
.actionpanel:hover{
    border-left: 10px #546de5 solid;
    border-right: 10px #546de5 solid;
    cursor: pointer;
    background-color: rgb(223, 219, 219);
}
.discription{
    grid-area: discription;
    display: flex;
    flex-direction: column;
    color: black;
}
.discription>p{
    font-size: 15px;
    padding: 5px 10px;
    margin: 0;
    word-spacing: 2px;
}
.bigspan{
    border-left-color: #546de5;
}