{% load staticfiles %}
{% include "../base.html" %}
<link rel="stylesheet" href="{% static "List/styles/list.css" %}" />
<script src="{% static "List/scripts/getCookie.js" %}"></script>

{% if type == "series" %}
    <link rel="stylesheet" href="{% static "List/styles/season.css" %}" />
    <link rel="stylesheet" href="{% static "List/styles/numeric.css" %}" />

    <script src="{% static "List/scripts/dragNdrop.js" %}"></script>
    <script src="{% static "List/scripts/search.js" %}"></script>
    <script src="{% static "List/scripts/episodeCounter.js" %}"></script>

    <title>Список сералов / {{request.user.username}}</title>

    <body>
        <div class="headBlock">
            <div>
                <a class="btn selected" href="{% url 'listserial' request.user.username %}">Сериалы</a>
                <a class="btn" href="{% url 'listfilm' request.user.username %}">Фильмы</a>
            </div>
            <span class="HeadName">Список сералов / {{request.user.username}}</span>
            <input onkeyup="search(this)"  placeholder="Поиск сериала по названию" type="search">
        </div>
        <div class="content">
            <div class="groups">
                {% for groupname,group in groups.items %}
                    <div class="group" id="{{groupname}}" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <span class="groupspan">{{group.name}}</span>
                        {% if group.list %}
                        <div class="legend"><span>Название</span><span>Эпизоды</span><span>Оценка</span></div>
                            {% for i in group.list %}
                            <details class="serial" id="{{groupname}}_serial:{{i.movie.id}}">
                                {% include "List/blocks/season.html" %}  
                            </details>
                            {% endfor %}
                        {% else %}
                            <span class="simplespan">Пусто</span>
                        {% endif %}
                    </div>
                {% endfor %}
{% endif %}

{% if type == "films" %}
    <link rel="stylesheet" href="{% static "List/styles/film.css" %}" />

    <script src="{% static "List/scripts/searchf.js" %}"></script>
    <script src="{% static "List/scripts/dragNdropF.js" %}"></script>
    <title>Список фильмов / {{request.user.username}}</title>

    <body>
        <div class="headBlock">
            <div>
                <a class="btn" href="{% url 'listserial' request.user.username %}">Сериалы</a>
                <a class="btn selected" href="{% url 'listfilm' request.user.username %}">Фильмы</a>
            </div>
            <span class="HeadName">Список фильмов / {{request.user.username}}</span>
            <input onkeyup="search(this)"  placeholder="Поиск фильма по названию" type="search">
        </div>
        <div class="content">
            <div class="groups">
            {% for groupname,group in groups.items %}
                <div class="group" id="{{groupname}}" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <span class="groupspan">{{group.name}}</span>
                    {% if group.list %}
                    <div class="legend"><span>Название</span><span>Оценка</span></div>
                        {% for i in group.list %}
                            {% include "List/blocks/film.html" %}
                        {% endfor %}
                    {% else %}
                        <span class="simplespan">Пусто</span>
                    {% endif %}
                </div>
            {% endfor %}
{% endif %}
        </div>
            <div class="filters">
                <span class="groupspan">Категории</span>
                <div class="filter">
                   <label><input class="category" type="checkbox" value="planned"><span>В планах ({{groups.planned.list|length}})</span></label>
                   <label><input class="category" type="checkbox" value="watch"><span>Смотрю ({{groups.watch.list|length}})</span></label>
                   <label><input class="category" type="checkbox" value="watched"><span>Просмотрено ({{groups.watched.list|length}})</span></label>
                   <label><input class="category" type="checkbox" value="rewatch"><span>Пересматриваю ({{groups.rewatch.list|length}})</span></label>
                   <label><input class="category" type="checkbox" value="drop"><span>Брошено ({{groups.drop.list|length}})</span></label>
                </div>
                <button onclick="changeCategorys()">Применить</button>
                <span class="groupspan">Жанры</span>
                <div class="filter">
                    {% for key,value in genrelist.items %}
                        <label><input class="genre" type="checkbox" value="{{value.tag}}"><span>{{key}} ({{value.count}})</span></label>
                    {% endfor %}
                </div>
                <button onclick="changeGenres()">Применить</button>
                <script>
                    var categoryes=document.getElementsByClassName("category");
                    var urlParams = new URLSearchParams(window.location.search);
                    var param = urlParams.get('groups');
                    if (param==null) 
                        for (var i=0;i<categoryes.length;categoryes[i++].checked=true);
                    else{
                        var param=param.split(" ");
                        for (var i=0;i<categoryes.length;i++){
                            if (param.includes(categoryes[i].value))
                                categoryes[i].checked=true
                        }
                    } 

                    var genres=document.getElementsByClassName("genre");
                    var param = urlParams.get('genres');
                    if (param!=null){
                        var param=param.split(" ");
                        for (var i=0;i<genres.length;i++){
                            if (param.includes(genres[i].value))
                                genres[i].checked=true
                        }
                    } 
                    delete urlParams
                    delete param
                    delete categoryes
                    
                    function changeCategorys(){
                        var categoryes=document.getElementsByClassName("category");
                        var url=new URL(window.location['href'])
                        var param="";
                        for (var i=0;i<categoryes.length;i++){
                            if (categoryes[i].checked)
                                param+=categoryes[i].value+" "
                        }
                        param=param.trimEnd();
                        url.searchParams.set('groups', param)
                        window.location.href=url['href']
                    }

                    function changeGenres(){
                        var genres=document.getElementsByClassName("genre");
                        var url=new URL(window.location['href'])
                        var param="";
                        for (var i=0;i<genres.length;i++){
                            if (genres[i].checked)
                                param+=genres[i].value+" "
                        }
                        param=param.trimEnd();
                        url.searchParams.set('genres', param)
                        window.location.href=url['href']
                    }
                </script>
            <div>
        <div>
    </body>



<div id="faststatus">
    <span ondrop="droptoPlan(event)" ondragover="allowDrop(event)">В планах</span>
    <span ondrop="droptoWatch(event)" ondragover="allowDrop(event)">Смотрю</span>
    <span ondrop="droptoWatched(event)" ondragover="allowDrop(event)">Просмотрено</span>
    <span ondrop="droptoRewatch(event)" ondragover="allowDrop(event)">Пересматриваю</span>
    <span ondrop="droptoDrop(event)" ondragover="allowDrop(event)">Брошено</span>
</div>
