{% load staticfiles %}
{% include "../base.html" %}

{% if type == "series" %}
    <link rel="stylesheet" href="{% static "List/styles/list.css" %}" />
    <link rel="stylesheet" href="{% static "List/styles/season.css" %}" />
    <script src="{% static "List/scripts/dragNdrop.js" %}"></script>
    <script src="{% static "List/scripts/search.js" %}"></script>
    <link rel="stylesheet" href="{% static "List/styles/numeric.css" %}" />
    <script src="{% static "List/scripts/episodeCounter.js" %}"></script>

    <title>Список сералов / {{request.user.username}}</title>

    <body>
        <div class="headBlock">
            <div>
                <a class="btn selected" href="{% url 'listserial' request.user.username %}">Сериалы</a>
                <a class="btn" href="{% url 'listfilm' request.user.username %}">Фильмы</a>
            </div>
            <span class="HeadName">Список сералов / {{request.user.username}}</span>
            <input onkeyup="search(this)"  placeholder="Поиск сериала по названию" type="search">
        </div>

        {% for groupname,group in groups.items %}
            <div class="group" id="{{groupname}}" ondrop="drop(event)" ondragover="allowDrop(event)">
                <span class="groupspan">{{group.name}}</span>
                {% if group.list %}
                <div class="legend"><span>Название</span><span>Эпизоды</span><span>Оценка</span></div>
                    {% for i in group.list %}
                    <details class="serial" id="{{groupname}}_serial:{{i.serial.id}}">
                        {% include "List/blocks/season.html" %}  
                    </details>
                    {% endfor %}
                {% else %}
                    <span class="simplespan">Пусто</span>
                {% endif %}
            </div>
        {% endfor %}
    </body>
{% endif %}

{% if type == "films" %}
    <link rel="stylesheet" href="{% static "List/styles/listF.css" %}" />
    <link rel="stylesheet" href="{% static "List/styles/film.css" %}" />
    <script src="{% static "List/scripts/searchf.js" %}"></script>
    <script src="{% static "List/scripts/dragNdropF.js" %}"></script>
    <title>Список фильмов / {{request.user.username}}</title>

    <body>
        <div class="headBlock">
            <div>
                <a class="btn" href="{% url 'listserial' request.user.username %}">Сериалы</a>
                <a class="btn selected" href="{% url 'listfilm' request.user.username %}">Фильмы</a>
            </div>
            <span class="HeadName">Список фильмов / {{request.user.username}}</span>
            <input onkeyup="search(this)"  placeholder="Поиск фильма по названию" type="search">
        </div>

        {% for groupname,group in groups.items %}
            <div class="group" id="{{groupname}}" ondrop="drop(event)" ondragover="allowDrop(event)">
                <span class="groupspan">{{group.name}}</span>
                {% if group.list %}
                <div class="legend"><span>Название</span><span>Оценка</span></div>
                    {% for i in group.list %}
                        {% include "List/blocks/film.html" %}
                    {% endfor %}
                {% else %}
                    <span class="simplespan">Пусто</span>
                {% endif %}
            </div>
        {% endfor %}
{% endif %}

<div id="faststatus">
    <span ondrop="droptoPlan(event)" ondragover="allowDrop(event)">В планах</span>
    <span ondrop="droptoWatch(event)" ondragover="allowDrop(event)">Смотрю</span>
    <span ondrop="droptoWatched(event)" ondragover="allowDrop(event)">Просмотрено</span>
    <span ondrop="droptoRewatch(event)" ondragover="allowDrop(event)">Пересматриваю</span>
    <span ondrop="droptoDrop(event)" ondragover="allowDrop(event)">Брошено</span>
</div>

<script>
//const urlParams = new URLSearchParams(window.location.search);
//var param = urlParams.get('groups').split(' ');
</script>