{% load staticfiles %}
{% include "../../../base.html" %}
<link rel="stylesheet" href={% static 'Serials/styles/season/change/poster.css' %} type="text/css" />


<title>Редактирование / {{season.name}} / {{season.serial.name}} / {{season.serial.originalname}} / Сериал</title>

<body>
    <div class="Season">
        <a class="bckbtn" href="{% url 'seasonch' season.id %}">
            <b>◄</b><span>К редактированию</span>
        </a>
        <span class="seasonname">Смена постера / {{season.name}} / {{season.serial.name}} / {{season.serial.originalname}}</span>

        <div class="poster">
            <img id="previewposter" src="../../{{season.img.url}}">
        </div>

        <form enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            <div class="formobj">
                {{form}}
            <script src="{% static "Serials/scripts/getImage.js" %}">
            </script>
            </div>
            <input type="submit" value="Сменить" />
        </form>
        
    </div>

</body>