{% load staticfiles %}
<link rel="stylesheet" href={% static 'Serials/styles/seasons.css' %} type="text/css" />
<div class="seasons">
    <span class="bigspan">Сезоны</span>
    <div class=seasonList>
        {% for i in series.seasons %}
            <a href="{% url 'season' i.id %}" class=season >
                <span style="background-color:{{i.status.color}}; color:#fff">{{i.status.name}}</span>
                <img src={{ i.poster.img.url }}>
                <span style="font-weight: bold;">
                    {{i.series.movie.name}}
                </span>
                <span>
                    {{i.name}}
                </span>
            </a>
        {% endfor %}
        {% comment '' %}
            <a href="{% url 'addserialpage' series.id %}" class=addseason>
            <div>
                <div class=addposter>
                </div>                    
            </div>
            <span>
                Добавить сезон
            </span>
        </a>
        {% endcomment %}
            
    </div>
</div>