{% load staticfiles %}
{% include "../base.html" %}

<link rel="stylesheet" href="{% static "Serials/styles/seriallist.css" %}" />
<title>Сериалы</title>


<body>
    <div class="headBlock"> 
        <span class="HeadName">Сериалы</span>
        <a href="{% url 'addmovie'%}" class="addserial">Добавить сериал</a>
    </div>
    <p class="pagedisc">
        Список сериалов отсортированный по дате выхода последнего сезона. Если вы вдруг не нашли ваш сериал, просто добавьте его, нажав на кнопку "Добавить сериал".
    </p>
    <div class="serialList" >
    {% for series in SeriesList %}
        <a href="{% url 'serial' series.movie.id %}" class="serial" title="{{series.movie.name}} / {{series.movie.originalname}} ({{series.movie.year}})">
            <div class="poster">
                <img height="200px" src={{series.poster.img.url}}>
            </div>
            <span >{{series.movie.name}} / {{series.movie.originalname}}</span>
            <div class=serialsmallinfo>
                <span>{{series.movie.year}}</span>
                {% if series.InMyList == "True" %}<span style="background-color: #546de5;color: white;padding: 2px;">В списке</span>{% endif %}</span>
            </div>
        </a>
    {% endfor %}
    </div>
    
</body>