:root
{
    --main-color-- : #303952;
    --profile-color--: #c44569;
    --serial-color--: #546de5;
    --films-color--:#e15f41;
    --list-color--:#3dc1d3;

    --big-fontsize--: 20px;

    --standart-border--: 1px solid black;
}



@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeAni{
    animation: fade-in 1s ease;
}

.bigheader{
    font-size: var(--big-fontsize--);
}

.bigspan{
    font-size: var(--big-fontsize--);
    padding: 5px 10px;
    color: black;
    background-color: rgb(223, 219, 219);
    border-left: 10px var(--list-color--) solid;
    font-weight: bold;
}
h1{
    margin: 0;
}
html{
    min-height:100%;
    scroll-behavior: smooth;
    display: grid;
}
body{
    grid-area: body;
    margin: 0;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
}

nav{
    position: fixed;
    width: 10px;
    top:0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s ease;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.navitem>span{
    font-weight: bold;
    transition: all 0.5s ease;
    white-space: nowrap;
}

.counter{
    position: fixed;
    opacity: 1;
    left: 0;
    background-color: #f5cd79;
    color: black;
    margin-left: 21px;
    margin-top: -7px;
    border-radius: 20px;
    transition: all 0.2s ease;
}

#TopBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.2s ease;
    color: white;
    width: 40px;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
}

.messages{
    position: fixed;
    margin: 0;
    top:0;
    left: 150px;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}
.messages>span{
    padding: 15px;
    background-color:#596275 ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-device-width: 425px){
    :root{
        --big-fontsize--: 30px;
    }
    
    html{
        grid-template-areas: "left body";
        grid-template-columns: 100px auto;
    }
    body{
        border-left: 3px solid black;
        border-right: 3px solid black;
        font-size: 26px;
    }

    .bigspan{
        border-left: 15px var(--list-color--) solid;
    }

    .navitem{
        width: 100px;
        height: 90px;
    }
    @-moz-document url-prefix() {
        .navitem>img{
            height:65px;
        }
    }
    .navitem>img{
        padding: 10px 15px;
        width: 70px;
    }
    .navitem>span{
        display: none;
    }

    .counter{
        font-size: 23px;
        padding: 3px 9px;
        margin-left: 55px;
    }

    #TopBtn{
        background-color: rgba(40, 40, 40, 0.2);
        padding: 0px 4px;
        width: 90px;
        height: 90px;
    }
    #TopBtn>span{
         display: none;
     }
    #TopBtn>img {
        padding: 5px;
        width: 90px;
    }
    .messages{
        left: 100px;
        padding: 15px;
    }
    .messages>span{
        padding: 15px;
        font-size: 24px;
    }
}
@media (max-device-width: 768px) and (min-device-width: 426px) {
    :root{
        --big-fontsize--: 25px;
    }
    
    
    html{
        grid-template-areas: "left body";
        grid-template-columns: 150px auto;
    }
    body{
        border-left-width: 2px;
        border-left-width: 2px;
        font-size: 23px;
    }

    @-moz-document url-prefix() {
        .navitem>img{
            height:40px;
        }
    }
    .navitem>img{
        padding: 5px;
        width: 40px;
    }
    .navitem{
        width: 150px;
        height: 70px;
    }
    .navitem>span{
        text-align: center;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        padding-right: 5px;
    }

    .counter{
        font-size: 18px;
        padding: 2px 7px;
    }

    #TopBtn{
        background-color: rgba(233,233,233,0.18);
        padding: 0px 4px;
    }
    #TopBtn>span{
         display: none;
     }

}
@media (min-device-width: 769px) {
    html{
        display: grid;
        grid-template-areas: "left body right";
        grid-template-columns: 160px auto 100px;
    }
    body{
        border-left: var(--standart-border--);
        border-right:var(--standart-border--);
    }

    @-moz-document url-prefix() {
        .navitem>img{
            height:30px;
        }
    }
    .navitem>img{
        padding: 5px;
        width: 30px;
    }
    .navitem{
        width: 40px;
        height: 50px;
    }
    .navitem>span{
        text-align: left;
        opacity: 0;
    }
    .navitem:hover{
        width: 160px;
    }
    .navitem:hover>span{
        opacity: 1;
    }

    .counter{
        font-size: 14px;
        padding: 2px 6px;
    }

    #TopBtn{
        background-color: #303952;
    }
    #TopBtn>img {
        padding: 5px;
        width: 30px;
    }
    #TopBtn>span{
        display: block;
        font-weight: bold;
        opacity: 0;
        transition: all 0.5s ease;
        white-space: nowrap;
    }
    #TopBtn:hover{
        width: 100px;
    }
    #TopBtn:hover>span{
        opacity: 1;
    }
}

