.film{
    display:grid;
    grid-template-areas: "Name more del drag"
    " actionpanel actionpanel actionpanel drag";
    grid-template-columns: auto 50px 30px 90px;
    grid-column-gap: 20px;
    background-color: #fff;
    padding: 10px 20px;
    list-style: none;
    border-left: 0px #3dc1d3 solid;
    border-right: 0px #3dc1d3 solid;
    transition: all 0.5s ease;
    cursor:grab;
    font-size:14px;
}
.film:hover{
    padding: 10px;
    border-left: 10px #3dc1d3 solid;
    border-right: 10px #3dc1d3 solid;

    background-color: rgb(241, 241, 241);
}
.film>a{
    grid-area:Name;
    align-self: center;
    color:black;
    padding: 0px 10px;
    font-size:16px;
}
.film:after{
    grid-area: drag;
    content: 'Drag ↕';
    align-self: center;
    text-align: center;
    font-size: 14px;
    background-color: darkgrey;
    padding:5px 10px;
    color: white;
}


.chkbtn{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.chkbtn>svg{
    padding:0 10px;
    fill: white;
    background-color: grey;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: rotate(180deg);
}
.chkbtn>input:checked + svg{
    fill: black;
    background-color: lightgrey;
    transform: rotate(0deg);
}
.chkbtn>input:checked + .actionpanel{
    display: grid;
}

.actionpanel{
    margin: 10px 0;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
    grid-area: actionpanel;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: height 0.5s ease;
}
.actionpanel>*{
    margin: 10px 0px;
}
.actionpanel>div{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 0px 10px;
}
.actionpanel>div>span{
    padding-bottom: 10px;
}

.selectbox{
    width: 150px;
}

@media (max-device-width: 425px) {
    .film{
        display:grid;
        grid-template-areas: " Name more"
        " actionpanel actionpanel" ;
        grid-template-columns: auto 80px;
        grid-column-gap: 20px;
        background-color: #fff;
        padding:  15px 20px;
        font-size:26px;
    }
    .film>a{
         font-size:26px;
    }
    .film:after{
        display:none;
    }
    .film:hover{
        padding: 14px 15px;
        border-width: 15px;
    }

    .chkbtn>svg{
        padding:10px 25px;
    }

    .actionpanel{
        margin: 15px 10px;
        border-top: grey solid 3px;
        border-bottom: grey solid 3px;
    }
    .actionpanel>*{
        margin: 15px 10px;
    }
    .actionpanel>div{
        width: 44%;
        align-items: center;
    }
    .actionpanel>div>span{
        padding: 10px;
        font-size: 30px;
    }

    .selectbox{
        width: 100%;
        padding: 5px;
    }

    .status{
        padding: 10px;
        height: 35px;
        margin-left: 10px;
    }

}