html{
    background-color: #3dc1d3;
}

.btn{
    color: black;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    margin-left: 0;
    transition: all 0.5s ease;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: #3dc1d3;
}
.selected{
    color: white;
    background-color: #3dc1d3;
}

.headBlock{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.HeadName{
    font-size: 20px;
    padding:10px 0;
    font-weight: bold;
}

input[type=search]{
    padding:  5px 10px;
    margin: 10px 0;
}

.content{
    display: grid;
    grid-template-areas: "groups filters";
    grid-template-columns: 1fr 200px;
    animation: fade-in 1s ease;
}



.filters{
    grid-area: filters;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
}
.filters>details{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 5px;
    cursor: pointer;
}
.filters>details>button{
    width: 100%;
    margin-top: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s all ease;
    padding: 5px;
    font-size: 17px;
    margin-bottom: 5px;
}
.filters>details>button:hover{
    background-color: #3dc1d3;
    color: #fff;
}

.filter{
    display: flex;
    flex-direction: column;

}
.filter>img{
    width: 140px;
    margin: auto;
    margin-bottom: 20px;
}
.filter>label{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;

}
.filter>label:hover{
    background-color: #3dc1d3;
    color: white;
}
.filter>label>span{
    font-size: 17px;
    width: 100%;
    padding: 3px;
    padding-left: 10px;
}
.filter>label>input[type=checkbox]{
    display: none;
}
.filter>label> input[type=checkbox]:checked+span  {
    background-color: #3dc1d3;
    color: white;
}



.groups{
    grid-area: groups;
    display: flex;
    flex-direction: column;
}




@media (max-device-width: 425px) {
    .btn{
        padding: 10px;
        margin: 5px;
        font-size: 26px;
        font-weight: bold;
    }
    .HeadName{
        font-size: 32px;
        padding:15px 0;
        font-weight: bold;
    }

    input[type=search]{
        padding:  10px 15px;
        font-size: 26px;
        border: grey solid 2px;
    }

    .content{
        grid-template-areas: "filters"
            "groups";
        grid-template-columns: auto;
        padding-bottom: 80px;
    }

    .filters{
        padding: 15px;
    }
    .filters>a{
        display: none;
    }
    .filters>details{
        margin-bottom: 15px;
    }
    .filters>details>button{
        margin: 10px 0px;
        padding: 10px;
        font-size: 30px;
    }
    .filter>label:hover{
        background-color: white;
        color: black;
    }
    .filter>label>span{
        font-size: 26px;
        padding: 8px;
        padding-left: 15px;
    }

}






.serial{
    border-left: 0;
}
.serial[open]{
    background-color: rgb(241, 241, 241);
}
.serial[open]>summary{
    border-left: 10px #3dc1d3 solid;
    border-right: 10px #3dc1d3 solid;
}
.serial>summary{
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 0px #3dc1d3 solid;
    border-right: 0px #3dc1d3 solid;

}
.serial>summary:hover{
    border-left: 10px #3dc1d3 solid;
    border-right: 10px #3dc1d3 solid;
}
.serial>summary>a{
    color: #3dc1d3;
}
.serial>summary>div{
    width: 100%;
    display: grid;
    grid-template-areas: "Name  delbtn ";
    grid-template-columns: auto 30px ;
    grid-column-gap: 20px;
    align-items: center;
}
.serial>summary>div>span>a{
    color: black;
}





.selectbox{
    width:100%;
    background-color: #3dc1d3;
    color: white;
    transition: all 0.5s ease;
}
.selectbox>*{
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.selectbox>summary{
    margin-bottom: 0px;
}
.selectbox>summary:hover{
    background-color: #3dc1d3;
}
.selectbox>option:hover{
    background-color: white;
    color: black;
}
.selectbox:not([open]) {
    height: 28px;
}
.selectbox[open] {
    height: 160px;
}



@media (max-device-width: 425px) {
    .serial[open]>summary{
        border-width: 15px;
    }
    .serial>summary{
        padding: 15px;
        font-size: 26px;
    }
    .serial>summary:hover{
        border-width: 15px;
    }
    .serial>summary>div{
        grid-template-columns: auto 80px 30px ;
    }



    .simplespan{
        padding:  10px 15px;
        font-size: 26px;
    }

    .selectbox:not([open]) {
        height: 40px;
    }
    .selectbox[open] {
        min-height: 250px;
    }


}

.delbtn{
        display: block;
        width: 20px;
        height: 20px;
        background: url('../images/cross_20px.png') no-repeat;
        transition: all 0.5s ease;
        padding: auto;
    }