#numchange{
    display:grid;
    grid-template-areas: "place";
    margin: 0;
}

.numeric{
    grid-area: place;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 1;
    transition: all 0.5s ease;
}
.numericP{
    grid-area: place;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 2px;
}

.numericinput{
    grid-area: place;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    opacity: 0;
    align-items: center;
    font-size: 18px;
    transition: all 0.5s ease;
    z-index: 100;
    background-color: white;
}
.numericinput>span{
    font-size: 22px
}
.numericinput>span:hover{
    color: #e66767;
}

.numericinput>input{
    min-width: 40px;
    margin: 0 5px;
    text-align: center;
    -moz-appearance: textfield;
}

@media (max-device-width: 425px) {
    #numchange{
        display:grid;
        grid-template-areas: "place";
        margin: 0;
    }

    .numeric{
        font-size: 26px;
        opacity: 0;
    }

    .numericinput{
        opacity: 1;
        background-color: inherit;
    }
    .numericinput>span{
        font-size: 42px
    }

    .numericinput>input{
        min-width: 80px;
        margin: 0 25px;
        font-size: 26px;
        border: 3px lightgrey solid;
    }

}





.numericinput>input::-webkit-outer-spin-button,
.numericinput>input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#numchange:hover>.numeric{
    opacity: 0;
}
#numchange:hover>.numericinput,.numericinput:focus-within{
    opacity: 1;
}
#numchange:hover>.numericinput{
    background-color: rgb(241, 241, 241);
}
.numericinput>span{
    cursor: pointer;
}