

.season{
    display:grid;
    grid-template-areas: "status Name userepisode star more drag"
    "actionpanel actionpanel actionpanel actionpanel actionpanel drag";
    grid-template-columns: 60px auto 40px 100px 40px 90px;
    grid-column-gap: 20px;
    padding: 10px 20px;
    padding-left: 25px;
    font-size:14px;
    cursor:grab;
    transition: all 0.3s ease-in;
}
.season:hover{
    background-color: whitesmoke;
}
.season:after{
    grid-area: drag;
    content: 'Drag ↕';
    align-self: center;
    text-align: center;
    font-size: 14px;
    background-color: darkgrey;
    padding:5px 10px;
    color: white;
}

.status{
    padding: 5px;
    color: white;
    text-align: center;
}

.season>a{
    grid-area:Name;
    align-self: center;
    color:black;
    padding: 3px;
}

.season_userepisode{
    grid-area: userepisode;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.season_userepisode>span{
    padding: 2px;
}









@media (max-device-width: 425px) {
    .season{
        display:grid;
        grid-template-areas: "status Name more"
        "actionpanel actionpanel actionpanel" ;
        grid-template-columns: 120px auto 80px;
        grid-column-gap: 20px;
        background-color: #fff;
        padding:  15px 20px;
        font-size:28px;
    }
    .season:after{
        display:none;
    }
    .season:hover{
        padding: 14px 15px;
        border-width: 15px;
    }

    .status{
        padding: 10px;
        height: 35px;
        margin-left: 10px;
    }

    .chkbtn>svg{
        padding:10px 25px;
    }

    .actionpanel{
        margin: 15px 10px;
        border-top: grey solid 3px;
        border-bottom: grey solid 3px;
    }
    .actionpanel>*{
        margin: 15px 10px;
    }
    .actionpanel>div{
        width: 45%;
        align-items: center;
    }
    .actionpanel>div>span{
        padding: 10px;
        font-size: 30px;
    }

    .selectbox{
        width: 100%;
        padding: 5px;
    }

    

}