.star{
    background: url('../images/star2_20px.png') no-repeat;
}
.star:nth-child(4n){
    background: url('../images/star1_20px.png') no-repeat;
}

#ratingsStatic>img{
    width: 10px;
}



#ratings, #ratingsStatic {
    overflow: hidden;
    *zoom: 1;
    display:flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
    align-items:center;
    grid-area: ratings;
    width:100px;
}

#ratingsStatic{
    grid-area: star;
}

#ratings>input {
    opacity: 0;
    width: 0px!important;
    margin:0;
    height: 20px;
    display: none;
}

#ratings>input:checked ~ label {
    background-position: 0 -20px;
    height: 20px;
    width: 10px;
}
#ratings>label {
    background-position: 0 0;
    height: 20px;
    width: 10px;
    min-width: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
#ratings>label:hover, #ratings>label:hover ~ label {
    background-position: 0 -20px;
    height: 20px;
    width: 10px;
}

@media (max-device-width: 425px) {
    .star{
        background: url('../images/star1_80px.png') no-repeat;
    }
    .star:nth-child(4n){
        background: url('../images/star2_80px.png') no-repeat;
    }

    #ratings {
        width:300px;
    }

    #ratings>input:checked ~ label {
        background-position: 0 -60px;
        height: 60px;
        width: 30px;
    }

    #ratings>label {
        background-position: 0 0;
        height:60px;
        width: 30px;
        min-width: 30px;
    }
    #ratings>label:hover, #ratings>label:hover ~ label {
        background-position: 0 -60px;
        height: 60px;
        width: 30px;
    }
}






