{% load static %}
<link rel="stylesheet" href={% static 'Main/styles/feed.css' %} type="text/css" />

{% for feeditem in feed %}
<div class="feeditem" {% if request.user == feeditem.user.user %}style="border-left: 3px solid #c44569;"{% endif %} >
    <a class="feeduser" href={%url 'profile' feeditem.user.user.username%}>
        <img src="{{feeditem.user.photo.url}}" width="38px"> 
        {{feeditem.user.user.first_name}} {{feeditem.user.user.last_name}}
    </a>   
    <a href="{{feeditem.list.get_absolute_url}}" class="feedaction">
        <img src={{feeditem.list.obj.img.url}}>
        <div>
            <span>{{feeditem.list.obj.name}}</span>
            <span>{{feeditem.action}}</span>
            <span class="feedtimestamp">{{feeditem.created|timesince }} назад</span>
        </div>
    </a>
</div>
{% endfor %}