{% if films %}
<div class="movies block">
    <div class="sectionspanandrefer">
        <span class="sectionspan bigheader">Ваши последние фильмы</span>
        <a href="{% url 'listfilm' username %}" class="sectionspan bigheader">Мои фильмы</a>
    </div>
     <div class="movielist fadeAni">
         {% for film in films %}
         <a href="{% url 'film' film.movie.id %}" title="{{film.movie.name}} ({{film.movie.year}})">
             <img src={{film.movie.img.url}}>
             <span>{{film.movie.name}} ({{film.movie.year}})</span>
         </a>
         {% endfor %}
     </div>
</div>
{% endif %}