<div class="serials block">
    <div class="sectionspanandrefer">
        <span class="sectionspan">Ваши последние добавленные сериалы</span>
        <a href="{% url 'listserial' username %}" class="sectionspan">Мои сериалы</a>
    </div>
    <div class="movielist">
        {% for serial in series %}
        <a href="{% url 'serial' serial.id %}" title="{{serial.name}} ({{serial.year}})">
        <img src={{serial.img.url}}>
            <span>
                {{serial.name}} ({{serial.year}})
            </span>
        </a>
        {% endfor %}
    </div>
 </div>