    <details class="filters" id="GenreFilters">
        <summary class="groupspan">Жанры</summary>
        <div class="filter">

            {% for tag in tags %}
                <label><input class="genre" type="checkbox" value="{{tag.slug}}"><span>{{tag.name}}</span></label>
            {% endfor %}
            </div>
            <button onclick="changeGenres()">Применить</button>
            <script>
                var genres=document.getElementsByClassName("genre");
                var urlParams = new URLSearchParams(window.location.search);
                var param = urlParams.get('genres');
                if (param!=null){
                    var param=param.split(" ");
                    for (var i=0;i<genres.length;i++){
                        if (param.includes(genres[i].value))
                            genres[i].checked=true
                    }
                }
                delete urlParams
                delete param
                delete genres
                function changeGenres(){
                    var genres=document.getElementsByClassName("genre");
                    var url=new URL(window.location['href'])
                    var param="";
                    for (var i=0;i<genres.length;i++){
                        if (genres[i].checked)
                            param+=genres[i].value+" "
                    }
                    param=param.trimEnd();
                    url.searchParams.set('genres', param)
                    window.location.href=url['href']
                }

                AdaptiveOpenDetails(window,GenreFilters);
                window.addEventListener("resize", function(e){
                    AdaptiveOpenDetails(e.target,GenreFilters);
                })

            </script>
</details>