{% load static %}
{% include "../../../base.html" %}
<link rel="stylesheet" href={% static 'Serials/styles/season/change/episode.css' %} type="text/css" />

<title>Редактирование / {{season.name}} / {{season.serial.name}} / {{season.serial.originalname}} / Сериал</title>

<body>
    <div class="Season">
        <a class="bckbtn" href="{% url 'seasonch' season.id %}">
            <b>◄</b><span>К редактированию</span>
        </a>
        <span class="seasonname">Изменение эпизода {{episode.name}} / {{season.name}} / {{season.serial.name}} / {{season.serial.originalname}}</span>

        <form method="post">
            {% csrf_token %}
            <div class="formobj">
                {{form}}
            </div>
            <input type="submit" value="Сменить" />
            <a href={% url 'seasonchepisoderm' season.id episode.id %}>Удалить</a>
        </form>
        
    </div>

</body>