{% for UserItem in group.list %}
    <div class="film" id="film:{{UserItem.id}}" draggable="true" ondragstart="drag(event)" ondragend="event.preventDefault();faststatus.style.opacity=0;faststatus.style.zIndex=-10;">
        <a class="filmname" href="{% url 'film' UserItem.film.id %}" title="{{UserItem.film.name}}">{{UserItem.film.name}} ({{UserItem.film.year}})</a>


            <label class="chkbtn" >
                <input style="display: none"
                       type="checkbox"
                       onclick="document.getElementById('actionpanel:{{ UserItem.id }}').style.display=this.checked?'flex':'none'"
                >
                <svg width="30px" height="26px">
                    <polyline points="5,18 15,8 25,18"></polyline>
                </svg>
            </label>
         <div>
            {% if request.user == user %}
                <a class="delbtn" href="{% url 'delfilm' UserItem.film.id %}" title="Удалить фильм"></a>
            {% endif %}
        </div>
            <div class="actionpanel" id="actionpanel:{{ UserItem.id }}">
                <div>
                    <span>Статус</span>
                    {% include "List/blocks/selectbox.html" with type="film" %}
                </div>

                <div>
                    <span>Оценка</span>
                    {% include "List/blocks/starsf.html" %}
                </div>

                <div>
                    <span>Повторные просмотры</span>
                    <div class="numchange">
                        {% if request.user == user %}
                            <div class=numeric>
                                <span></span><span  id="userRewatch_{{UserItem.id}}">{{UserItem.countreview}}</span><span></span>
                            </div>
                            <div class=numericinput>
                                <div></div>
                                <div>
                                    <span onclick="decrementrewatch({{UserItem.id}})">-</span>
                                    <input id=numerinputRewatch_{{UserItem.id}} type="number" min=0 max=255 onchange="setrewatch({{UserItem.id}})" value="{{UserItem.countreview}}">
                                    <span onclick="incrementrewatch({{UserItem.id}})">+</span>
                                </div>
                            </div>
                        {% else %}
                            <div class=numericP>
                                <span></span><span id="userRewatch_{{UserItem.id}}">{{UserItem.countreview}}</span><span></span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    </div>
{% endfor %}