
<summary>
    <div>
        <span>
            <a class="serialname" href="{% url 'serial' i.serial.id %}" title="{{i.serial.name}}">{{i.serial.name}} ({{i.serial.year}})</a> 
        </span>
        <div class="progress" title="Эпизоды: {{i.watched}}/{{i.episodes}}">
            <div style="width:{{i.width}}"></div>
        </div>
        <div>
        {% if request.user == user %}
            <a class="delbtn" href="{% url 'delserial' i.serial.id %}" title="Удалить весь сериал"></a>
        {% endif %}
        </div>
    </div>
</summary>

{% for UserItem in i.seasons %}
    <div class=season id="season:{{UserItem.id}}" ondragend="faststatus.style.opacity=0;faststatus.style.zIndex=-10;" draggable="true" ondragstart="drag(event)">
        <div class="status" style="background-color:{{UserItem.season.status.color}}">
            {{UserItem.season.status.name}}
        </div>
        
        <a href="{% url 'season' UserItem.season.id %}">{{UserItem.season.name}}</a>
        
        <div id="numchange">
            {% if request.user == user %}
            <div class=numeric>
                <span id="userepisodeview_{{UserItem.id}}">{{UserItem.userepisode}}</span>/<span>{{UserItem.season.episodecount}}</span>
            </div>
            <div class=numericinput>
                <span onclick="decrement({{UserItem.id}})">-</span>
                <input id=numerinput_{{UserItem.id}} type="number" min=0 max={{UserItem.season.episodecount}} onchange="setepisode({{UserItem.id}})" value="{{UserItem.userepisode}}">
                <span onclick="increment({{UserItem.id}})">+</span>
            </div>
            {% else %}
            <div class=numericP>
                <span id="userepisodeview_{{UserItem.id}}">{{UserItem.userepisode}}</span>/<span>{{UserItem.season.episodecount}}</span>
            </div>
            {% endif %}
        </div>
        {% include "List/blocks/stars.html" %}   
    </div>
{% endfor %}