{% if request.user == user %}
    <details class="selectbox">
        <summary class="selectName">
            {% if wl.userstatus == 1 %}
                В планах
            {% elif wl.userstatus == 2 %}
                Смотрю
            {% elif wl.userstatus == 3 %}
                Просмотрено
            {% elif wl.userstatus == 4 %}
                Пересматриваю
            {% elif wl.userstatus == 5 %}
                Брошено
            {% endif %}
        </summary>
        
    </details>
{% else %}
    <div class="selectbox">
        <span class="selectName">
            {% if wl.userstatus == 1 %}
                В планах
            {% elif wl.userstatus == 2 %}
                Смотрю
            {% elif wl.userstatus == 3 %}
                Просмотрено
            {% elif wl.userstatus == 4 %}
                Пересматриваю
            {% elif wl.userstatus == 5 %}
                Брошено
            {% endif %}
        </span>
    </div>
{% endif %}