{% load static %}
{% if request.user == user %}
<script src="{% static "List/scripts/setRating.js" %}"></script>
<div id="ratings">
  <input id="star-9_{{wl.id}}" value=10 {% if wl.userrate == 10 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=10 class=star for="star-9_{{wl.id}}"></label>
  <input id="star-8_{{wl.id}}" value=9 {% if wl.userrate == 9 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=9 class=star for="star-8_{{wl.id}}"></label>
  <input id="star-7_{{wl.id}}" value=8 {% if wl.userrate == 8 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=8 class=star for="star-7_{{wl.id}}"></label>
  <input id="star-6_{{wl.id}}" value=7 {% if wl.userrate == 7 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=7 class=star for="star-6_{{wl.id}}"></label>
  <input id="star-5_{{wl.id}}" value=6 {% if wl.userrate == 6 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=6 class=star for="star-5_{{wl.id}}"></label>
  <input id="star-4_{{wl.id}}" value=5 {% if wl.userrate == 5 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=5 class=star for="star-4_{{wl.id}}"></label>
  <input id="star-3_{{wl.id}}" value=4 {% if wl.userrate == 4 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=4 class=star for="star-3_{{wl.id}}"></label>
  <input id="star-2_{{wl.id}}" value=3 {% if wl.userrate == 3 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=3 class=star for="star-2_{{wl.id}}"></label>
  <input id="star-1_{{wl.id}}" value=2 {% if wl.userrate == 2 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=2 class=star  for="star-1_{{wl.id}}"></label>
  <input id="star-0_{{wl.id}}" value=1 {% if wl.userrate == 1 %} checked {% endif %} type="radio" name="ratings_{{wl.id}}" onclick="setRating(this,{{wl.id}})"/>
    <label title=1 class=star for="star-0_{{wl.id}}"></label>
</div>

{% else %}
<div id="ratings">
  <img src={% if wl.userrate >= 10%}{% static "images/star0_20px_2.png" %}{% else %}{% static "images/star0_20px_1.png" %}{% endif %}>
  <img src={% if wl.userrate >= 9 %}{% static "images/star1_20px_2.png" %}{% else %}{% static "images/star1_20px_1.png" %}{% endif %}>
  <img src={% if wl.userrate >= 8 %}{% static "images/star0_20px_2.png" %}{% else %}{% static "images/star0_20px_1.png" %}{% endif %}>
  <img src={% if wl.userrate >= 7 %}{% static "images/star1_20px_2.png" %}{% else %}{% static "images/star1_20px_1.png" %}{% endif %}>
  <img src={% if wl.userrate >= 6 %}{% static "images/star0_20px_2.png" %}{% else %}{% static "images/star0_20px_1.png" %}{% endif %}>
  <img src={% if wl.userrate >= 5 %}{% static "images/star1_20px_2.png" %}{% else %}{% static "images/star1_20px_1.png" %}{% endif %}>
  <img src={% if wl.userrate >= 4 %}{% static "images/star0_20px_2.png" %}{% else %}{% static "images/star0_20px_1.png" %}{% endif %}>
  <img src={% if wl.userrate >= 3 %}{% static "images/star1_20px_2.png" %}{% else %}{% static "images/star1_20px_1.png" %}{% endif %}>
  <img src={% if wl.userrate >= 2 %}{% static "images/star0_20px_2.png" %}{% else %}{% static "images/star0_20px_1.png" %}{% endif %}>
  <img src={% if wl.userrate >= 1 %}{% static "images/star1_20px_2.png" %}{% else %}{% static "images/star1_20px_1.png" %}{% endif %}>
</div>
{% endif %}