{% load static %}
{% include "../base.html" %}
<link rel="stylesheet" href={% static 'Serials/styles/addseason.css' %} type="text/css" />
<script src="{% static "Seraials/scripts/getImage.js" %}"></script>

<title>Добавление сезона / {{serial.name}} / {{serial.originalname}}</title>

<body>
    <form class=Serial method="POST" enctype="multipart/form-data">
        <span class=serialName>
                {{ form.seasonname }} <a href="{% url 'serial' serial.id %}">{{serial.name}} / {{serial.originalname}}</a>
        </span>
        {% csrf_token %}
        <input name=serialid type="hidden" value="{{serial.id}}">
        <div class=poster>
            <img id="previewposter" src="https://dummyimage.com/210x300/546de5/fff.png&text=Season+poster+210x300">
            <div id="posterupload">
                <script>
                   
                </script>
                <label title="Рекомендуемый размер 200x300">
                    <input name=poster onchange="getImage(this);" accept="image/jpeg,image/png" type="file">
                    <span>Сменить постер</span>
                </label>
            </div>
        </div>
        <div class=serialinfo>
            <span class="bigspan">
                Информация
            </span>
            <div> 
                <span>
                    Тип: <span>Сериал</span>
                </span>
                <span>
                    Статус:
                    {{form.status}}
                </span>  
                <span>
                    Возрастной рейтинг: <span>{{serial.rating.name}}</span>
                </span>
                <span>
                    Дата выхода: <input name="date" value={{request.POST.date}} required type="date" min="1900-01-01">
                </span>
                <span>
                    Длительность эпизода: <span>{{serial.episodelength}} минут</span>
                </span>
                <span>
                    Количество эпизодов:{{form.episodecount}}
                </span>
            </div>
        </div>
        <div class=discription>
            <span class="bigspan">Описание</span>
            {{form.discript}}
        </div>
        <input class="submitbtn" type="submit" value="Добавить сезон">
    </form>
</body>