{% load static %}
{% load SeasonTags %}
{% include "../base.html" %}
<link rel="stylesheet" href={% static 'Serials/styles/season.css' %} type="text/css" />


<title>{{season.name}} {{season.movie.name}} / {{season.movie.originalname}} / Сериал</title>

<body>
        <div class="headBlock">
            <a class="bckbtn" href="{% url 'serial' season.movie.id %}">
                <b>◄</b><span>К сериалу</span>
            </a>
        </div>

        <span class=serialName>
            <span>{{season.name}} {{season.movie.name}} / {{season.movie.originalname}}</span>
        </span>

        <img class=poster src={{season.img.url}}>
       
        <div class=serialinfo>
            <span class="bigspan">
                Информация
            </span>
            <div> 
                <span>
                    Тип: <span>Сериал</span>
                </span>
                <span>
                    Статус: <span class="status" style="background-color: {{season.status.color}}">{{season.status.name}}</span>
                </span>
                <span>
                    Жанр:
                    {% for i in season.movie.tags.all%}
                        <a class="genre" href="{% url 'seriallist' %}?genres={{i.slug}}">{{i.name}}</a>
                    {% endfor %}
                </span>
                <span>
                    Дата выхода:
                    <span>{% if season.get_date is None %}Неизвестно{% else %}{{season.get_date|date:"SHORT_DATE_FORMAT"}}{% endif %}</span>
                </span>
                <span>
                    Длительность эпизода: <span>{{season.movie.length}} минут</span>
                </span>
                <span>
                    Количество эпизодов: <span>{{season.episodecount}}</span>
                </span>
            </div>
        </div>

        <div class="userrate">
            <span class="bigspan">Общая оценка</span>
            <div>
                <span>{{season.rating}}</span>
                <div id="stars"></div>
                <script>
                var rat=Math.round({{season.rating}});
                for (var i = 1; i<=rat;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Serials/star"+i%2+"_20px_2.png";
                    stars.appendChild(img);
                }
                for (var i = rat+1; i<=10;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Serials/star"+i%2+"_20px_1.png";
                    stars.appendChild(img);
                }
                </script>
            </div>
        </div>


        {% if user.is_authenticated %}
            {% friendListS user.profile season %}
        {% endif %}

        {% if UserItem %}
        
        <link rel="stylesheet" href={% static 'List/styles/numeric.css' %} type="text/css" />
        <script src="{% static "Serials/scripts/episodeCounter.js" %}"></script>
            <script src="{% static "List/scripts/rewatchCounter.js" %}"></script>
        <div class='actionpanel'>
            {% include "Serials/blocks/selectBox.html" %}
            {% include "Serials/blocks/stars.html" %}
            <div class="numchange">
                <span>Эпизоды:</span>
                <div class='numericinput'>
                    <span onclick="decrement({{UserItem.id}})">-</span>
                    <input id=numerinput_{{UserItem.id}} type="number" min=0 max={{UserItem.season.episodecount}} onchange="setepisode({{UserItem.id}})" value="{{UserItem.userepisode}}">
                    <span onclick="increment({{UserItem.id}})">+</span>
                </div>
            </div>

             <div class="numchange">
                 <span>Повторные просмотры:</span>
                 <div class=numericinput>
                     <span onclick="decrementrewatch({{UserItem.id}})">-</span>
                     <input id=numerinputRewatch_{{UserItem.id}} type="number" min=0 max=255 onchange="setrewatch({{UserItem.id}})" value="{{UserItem.rewatch}}">
                     <span onclick="incrementrewatch({{UserItem.id}})">+</span>
                 </div>
            </div>
             {% comment '' %}
            <a href="{% url 'seasonch' season.id %}">Редактировать</a>
            {% endcomment %}
        </div>
        {% else %}
        <div class="actionpanel">
            <a href="{% url 'addserial' season.movie.id %}">Добавить сериал</a>
        </div>
        {% endif %}
        <div class="blocks">
            <details class="discription" id="serialdiscription">
                <summary class="bigspan">Описание</summary>
                <p>{{season.disctiption}}</p>
            </details>
            <script>
                AdaptiveOpenDetails(window,serialdiscription);
            </script>


            {% serieslist season %}
        </div>


        {% comment %}
        <div class="comments">
            <span class="bigspan">Комментарии</span>
            {% load comments %}
            {% include 'Main/blocks/AddComment.html' %}
            {% commentslist season %}
        </div>
        {% endcomment %}
</body>