{% load static %}
{% load SeasonTags %}
{% include "../base.html" %}
<link rel="stylesheet" href={% static 'Serials/styles/season.css' %} type="text/css" />


<title>{{season.name}} {{season.serial.name}} / {{season.serial.originalname}} / Сериал</title>

<body>
    <div class="Serial">
        <a class="bckbtn" href="{% url 'serial' season.serial.id %}">
            <b>◄</b><span>К сериалу</span>
        </a>
        <span class=serialName>
            <span>{{season.name}} {{season.serial.name}} / {{season.serial.originalname}}</span>
        </span>
        <img class=poster src={{season.img.url}}>
       
        <div class=serialinfo>
            <span class="bigspan">
                Информация
            </span>
            <div> 
                <span>
                    Тип: <span>Сериал</span>
                </span>
                <span>
                    Статус: <span class="status" style="background-color: {{season.status.color}}">{{season.status.name}}</span>
                </span>
                <span>
                    Жанр:
                    {% for i in season.serial.tags.all%}
                        <a class="genre" href="{% url 'seriallist' %}?genres={{i.slug}}">{{i.name}}</a>
                    {% endfor %}
                </span>
                <span>
                    Дата выхода: 
                    {% if season.date != "Нет данных" %}
                    <span>{{season.date|date:"SHORT_DATE_FORMAT"}}</span>
                    {% else %}
                    <span>{{season.date}}</span>
                    {% endif %}
                </span>
                <span>
                    Длительность эпизода: <span>{{season.serial.episodelength}} минут</span>
                </span>
                <span>
                    Количество эпизодов: <span>{{season.episodecount}}</span>
                </span>
            </div>
        </div>

        <div class="userrate">
            <span class="bigspan">Пользовательская оценка</span>
            <div>
                <span>{{season.rating}}</span>
                <div id="stars"></div>
                <script>
                var rat=Math.round({{season.rating}});
                for (var i = 1; i<=rat;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Serials/star"+i%2+"_20px_2.png";
                    stars.appendChild(img);
                }
                for (var i = rat+1; i<=10;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Serials/star"+i%2+"_20px_1.png";
                    stars.appendChild(img);
                }
                </script>
            </div>
        </div>

        {% friendListS user.profile season %}

        {% if UserItem %}
        
        <link rel="stylesheet" href={% static 'Serials/styles/numeric.css' %} type="text/css" />
        <script src="{% static "Serials/scripts/episodeCounter.js" %}"></script>
        <div class='actionpanel'>
            {% include "Serials/blocks/selectBox.html" %}
            <div id="numchange">
                <div class='numeric'>
                    <span>Эпизоды:</span>
                    <span id="userepisodeview_{{UserItem.id}}">{{UserItem.userepisode}}</span>
                    <span>/</span>
                    <span>{{season.episodecount}}</span>
                </div>
                <div class='numericinput'>
                    <span onclick="decrement({{UserItem.id}})">-</span>
                    <input id=numerinput_{{UserItem.id}} type="number" min=0 max={{UserItem.season.episodecount}} onchange="setepisode({{UserItem.id}})" value="{{UserItem.userepisode}}">
                    <span onclick="increment({{UserItem.id}})">+</span>
                </div>
            </div>
            {% include "Serials/blocks/stars.html" %}
             {% comment '' %}
            <a href="{% url 'seasonch' season.id %}">Редактировать</a>
            {% endcomment %}
        </div>
        {% else %}
        <div class="actionpanel">
            <a href="{% url 'addserial' season.serial.id %}">Добавить сериал</a>
        </div>
        {% endif %}
        <div class="discription">
            <span class="bigspan">Описание</span>
            <p>{{season.disctiption}}</p>
        </div>
        

        {% Serieslist season %}

        <div class="comments">
            <span class="bigspan">Комментарии</span>
            {% load comments %}
            {% commentslist season %}
        </div>

        
    </div>
</body>