{% load static %}
{% include "../base.html" %}
{% load SerialTags %}

<link rel="stylesheet" href={% static 'Serials/styles/serial.css' %} type="text/css" />
<meta name="description" content="{{series.disctiption}}" />
<title>{{series.name}} / {{series.originalname}} / Сериал</title>

<body>
        <div class="headBlock">
            <a href={% url 'seriallist' %} class="bckbtn">
                <b>◄</b><span>К списку сериалов</span>
            </a>
        </div>

        <div class="serialName">
            <h1>{{series.name}} / {{series.originalname}}</h1>
        </div>
        
        <img class="poster" src={{series.img.url}}>
        
        <div class="serialinfo">
            <h1 class="bigspan">
                Информация
            </h1>
            <div>
                <span>
                    Тип: <span>Сериал</span>
                </span>    
                <span>
                    Жанр: 
                    {% for i in series.tags.all%}
                        <a class="genre" href="{% url 'seriallist' %}?genres={{i.slug}}">{{i.name}}</a>
                    {% endfor %}
                </span>
                <span>
                    Дата выхода:
                    <span>{% SeriesDate series %}</span>
                </span>
                <span>
                    Длительность эпизода: <span>{{series.length}} минут</span>
                </span>
                <a href="https://www.themoviedb.org/tv/{{series.tmdbid}}">Страница на TMDB</a>
            </div>
        </div>
        
        <div class="userrate">
            <h1 class="bigspan">Общая оценка</h1>
            <div>
                <span>{{series.rating}}</span>
                <div id="stars"></div>
                <script>
                var rat=Math.round({{series.rating}});
                for (var i = 1; i<=rat;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Serials/star"+i%2+"_20px_2.png";
                    stars.appendChild(img);
                }
                for (var i = rat+1; i<=10;i++){
                    var img=document.createElement("img");
                    img.src="/static/images/Serials/star"+i%2+"_20px_1.png";
                    stars.appendChild(img);
                }
                </script>
            </div>
        </div>

        {% if UserItem %}
        <a class=actionpanel href="{% url 'dellist' series.id %}">Убрать из списка</a>
        {% else %}
        <a class=actionpanel href="{% url 'addlist' series.id %}">Добавить в список</a>
        {% endif %}
        <div class="blocks">
            <details class="discription" id="serialdiscription">
                <summary class="bigspan">Описание</summary>
                <p>{{series.disctiption}}</p>
            </details>
            <script>
                AdaptiveOpenDetails(window,serialdiscription);
            </script>

            {% include "Serials/blocks/seasons.html" %}

            {% SimilarSeries series %}
        </div>


        <div class="comments" name="commentsblock">
            <h1 class="bigspan">Комментарии</h1>
            {% load comments %}

            {% addcomments %}

            {% commentslist series %}
        </div>
</body>