{% load static %}
{% include "../base.html" %}

<link rel="stylesheet" href="{% static "Serials/styles/seriallist.css" %}" />
<title>Сериалы</title>


<body>
    <div class="headBlock"> 
        <span class="HeadName">Сериалы</span>
        <a href="{% url 'addmovie'%}" class="addserial">Добавить сериал</a>
    </div>
    <p class="pagedisc">
        Список сериалов отсортированный по году выхода и по названию последнего сезона. Если вы вдруг не нашли ваш сериал, просто добавьте его, нажав на кнопку "Добавить сериал".
    </p>

    <div class="serials">

            {% load TagsFilter %}
            {% show_avalible_filters %}


        <div class="serialList" >
            {% for serial in SerialList %}
                <a href="{% url 'serial' serial.id %}" class="serial" title="{{serial.name}} / {{serial.originalname}} ({{serial.year}})">
                    <div class="poster">
                        <img src={{serial.img.url}}>
                    </div>
                    <span >{{serial.name}} / {{serial.originalname}}</span>
                    <div class=serialsmallinfo>
                        <span>{{serial.year}}</span>
                        {% if serial.InMyList %}<span style="background-color: #546de5;color: white;padding: 2px;">В списке</span>{% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
        {% include "Serials/blocks/pagination.html" with page=SerialList urlname='seriallist_page'%}



    </div>

</body>