{% load static %}
{% include "../base.html" %}

<link rel="stylesheet" href="{% static "Serials/styles/seriallist.css" %}" />
<title>Сериалы похожие на {{ series.name }}</title>


<body>
    <div class="headBlock">
        <a href={% url 'serial' series.id %} class="bckbtn">
            <b>◄</b><span>К сериалу {{ series.name }}</span>
        </a>
    </div>
    <p class="pagedisc HeadName">
       Сериалы похожие на {{ series.name }}
    </p>
    <div class="serials">
        <div class="serialList" >
            {% for serialitem in SerialList %}
                <a href="{% url 'serial' serialitem.id %}" class="serial" title="{{serialitem.name}} / {{serialitem.originalname}} ({{serialitem.year}})">
                    <div class="poster">
                        <img height="200px" src={{serialitem.img.url}}>
                    </div>
                    <span >{{serialitem.name}} / {{serialitem.originalname}}</span>
                    <div class=serialsmallinfo>
                        <span>{{serialitem.year}}</span>
                        {% if serialitem.InMyList %}<span style="background-color: #546de5;color: white;padding: 2px;">В списке</span>{% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
        {% include "Serials/blocks/pagination.html" with page=SerialList serialid=series.id urlname='Similarserial_page' %}

        {% load TagsFilter %}
        {% show_avalible_filters %}
    </div>

</body>