{% load static %}
{% include "../base.html" %}

<link rel="stylesheet" href="{% static "Serials/styles/seriallist.css" %}" />
<title>Сериалы похожие на {{ serial.name }}</title>


<body>
    <div class="headBlock">
        <a href={% url 'serial' serial.id %} class="bckbtn">
            <b>◄</b><span>К сериалу {{ serial.name }}</span>
        </a>
    </div>
    <p class="pagedisc HeadName">
       Сериалы похожие на {{ serial.name }}
    </p>
    <div class="serials">
        <div class="serialList" >
            {% for serial in SerialList %}
                <a href="{% url 'serial' serial.id %}" class="serial" title="{{serial.name}} / {{serial.originalname}} ({{serial.year}})">
                    <div class="poster">
                        <img height="200px" src={{serial.img.url}}>
                    </div>
                    <span >{{serial.name}} / {{serial.originalname}}</span>
                    <div class=serialsmallinfo>
                        <span>{{serial.year}}</span>
                        {% if serial.InMyList %}<span style="background-color: #546de5;color: white;padding: 2px;">В списке</span>{% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
        {% include "Serials/blocks/pagination.html" with page=SerialList serialid=serial.id urlname='filmlist_page' %}

        {% load TagsFilter %}
        {% show_avalible_filters %}
    </div>

</body>