html{
    background-color: #303952;
   }

body{
    display: grid;
    grid-template-areas:"headname" "discript" "Search"
    "content";
    grid-template-rows: 45px auto 100px  1fr;
}

a{
    color: black;
}

.HeadName{
    grid-area: headname;
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
}

.discript{
    border-top: #303952 solid 2px;
    border-bottom: #303952 solid 2px;
    grid-area: discript;
    margin: 0 30px;
    margin-top: 30px;
    padding: 5px;
}


.Search{
    margin: 0 30px;
    grid-area: Search;
    display: flex;
    align-items: center;
}
.Search>input{
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border: 3px solid lightgrey;
}
.Search>button{
    font-size: 20px;
    padding:  8px 10px ;
    border: none;
    background-color: #303952;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.Search>button:hover{
    background-color: lightgrey;
}
.Search>button:disabled,
.Search>button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.content{
    grid-area: content;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content>span{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px #303952 solid;
    padding: 10px 5px;
}

.result{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 260px;
}

.poster{
    width: 150px;
    height: 210px;
}
.Movie{
    width: 160px;
    height:250px;
    padding:5px;
    margin: 5px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    transition: all 0.5s ease;
    animation: fade-in 1s ease;
}
.Movie:hover{
    background-color:lightgray;
    cursor:pointer;
}
.Movie:hover>.postertitle{
    text-decoration: black underline;
}
.postertitle{
    text-overflow: ellipsis;
    height: 20px;
    width: 150px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
}

.User{
    width: 160px;
    height:160px;
    padding:5px;
    margin: 5px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    transition: all 0.5s ease;
    animation: fade-in 1s ease;
}
.User:hover{
    background-color:lightgray;
    cursor:pointer;
}
.User:hover>.postertitle{
    text-decoration: black underline;
}
.avatar{
    width: 120px;
    height: 120px;
}

@media (max-device-width: 425px) {
    body{
        grid-template-rows: 70px 0.1fr 140px  1fr;
    }

    .Search{    
        margin-top:20px;
    }
    .Search>input{
        padding: 15px;
        border: 5px solid lightgrey;
        font-size: 30px;
    }

    .discript{
        font-size: 11px;
    }

    .poster{
        width: 200px;
        height: 280px;
        margin: 10px 5px;
    }
    .postertitle{
        height: 50px;
        width: 200px;
        line-height: 50px;
        font-size: 25px;
    }
    .Movie{
        width: 220px;
        height:330px;
        padding:5px;
        margin: 5px;
    }
    .Movie>span{
        font-size: 25px;
    }

    .User{
        width: 220px;
        height:220px;
        padding:5px;
        margin: 5px;
    }
    .User>span{
        font-size: 25px;
    }

    .avatar{
        width: 200px;
        height: 200px;
        margin: 10px 5px;
    }
}








