.comment {
    display: grid;
    grid-template-areas: "img name" "img spoiler" "img text" "img time" "reply reply" "replys replys";
    grid-template-columns: 70px auto;
    padding: 10px;
}

.comment>img,
.reply>img {
    grid-area: img;
    width: 60px;
}

.comment>p,
.reply>p {
    margin: 0px;
    margin-top: 10px;
    grid-area: text;
    font-size: 16px;
    word-spacing: 1px;
    line-height: 1.5;
}

.comment>.profile,
.reply>.profile {
    color: black;
    font-size: 22px;
    grid-area: name;
}

.comment>.time,
.reply>.time {
    grid-area: time;
    font-size: 12px;
    color: grey;
    margin-top: 3px;
}

.comment>.spoiler,
.reply>.spoiler {
    color: lightgrey;
    background-color: lightgrey;
    cursor: pointer;
    user-select: none;
}

.comment>.spoilerAlert,
.reply>.spoilerAlert {
    grid-area: spoiler;
    padding: 5px;
    margin-top: 5px;
    background-color: #303952;
    color: white;
    font-size: 18px;
}

.replys {
    grid-area: replys;
    display: flex;
    flex-direction: column;
    border-left: 5px #303952 solid;
}

.reply {
    display: grid;
    grid-template-areas: "img name" "img spoiler" "img text" "img time " "replys replys";
    grid-template-columns: 70px auto;
    column-gap: 5px;
    padding: 10px;
}

.addcomment {
    display: grid;
    grid-template-areas: "text text" "spoiler send";
    grid-template-columns: auto 300px;
    padding: 10px;
    border: rgb(223, 219, 219) 1px solid;
    border-top: none;
}

.addreply>.commentsubmit,
.addcomment>.commentsubmit {
    grid-area: send;
    cursor: pointer;
    height: 30px;
    color: black;
    text-decoration: none;
    background-color: rgb(241, 241, 241);
    transition: all 0.5s ease;
    font-weight: bold;
    border: none;
}

.addreply>.commentsubmit:hover,
.addcomment>.commentsubmit:hover {
    border-left: 10px #303952 solid;
    border-right: 10px #303952 solid;
    cursor: pointer;
    background-color: rgb(223, 219, 219);
}

.commentspoiler {
    grid-area: spoiler;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addreply>.text,
.addcomment>.text {
    grid-area: text;
    height: 90px;
    width: 100%;
    resize: vertical;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

.addreply>span,
.addcomment>span {
    padding: 20px;
}

.addreply>span>a,
.addcomment>span>a {
    color: black;
}

.addreply {
    grid-area: reply;
    display: grid;
    grid-template-areas: "text text" "spoiler send";
    grid-template-columns: auto 300px;
    padding: 10px;
    border: rgb(223, 219, 219) 1px solid;
    border-top: none;
}

.addreply>.text {
    grid-area: text;
    height: 40px;
}

@media (max-device-width: 425px) {
    .addcomment {
        grid-template-columns: auto 400px;
        padding: 20px 10px;
        font-size: 25px;
        border-width: 3px;
    }
    .addcomment>.commentsubmit {
        height: 50px;
        font-size: 25px;
    }
    .addcomment>.commentsubmit:hover {
        border-left: 15px #303952 solid;
        border-right: 15px #303952 solid;
    }
    .commentspoiler>input {
        -ms-transform: scale(2);
        /* IE */
        -moz-transform: scale(2);
        /* FF */
        -webkit-transform: scale(2);
        /* Safari and Chrome */
        -o-transform: scale(2);
        /* Opera */
        transform: scale(2);
        margin-left: 10px;
        font-size: 25px;
    }
    .addcomment>.text {
        height: 190px;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        font-size: 25px;
        border-width: 4px;
    }
    .comment {
        grid-template-columns: 140px auto;
        padding: 10px;
    }
    .comment>img {
        width: 120px;
    }
    .comment>p {
        font-size: 30px;
    }
    .comment>.profile {
        font-size: 32px;
    }
    .comment>.time {
        font-size: 23px;
    }
    .comment>.spoilerAlert {
        grid-area: spoiler;
        padding: 10px;
        margin-top: 5px;
        font-size: 26px;
    }
}