.comment{
    display: grid;
    grid-template-areas:
            "img name"
            "img spoiler"
            "img text"
            "img time";
    grid-template-columns: 70px auto;

    padding: 10px;
}

.comment>img{
    grid-area: img;
    width: 60px;
}
.comment>p{
    margin: 0px;
    margin-top: 10px;
    grid-area: text;
    font-size: 16px;
    word-spacing: 1px;
    line-height: 1.5;
}
.comment>.profile{
    color: black;
    font-size: 22px;
    grid-area: name;
}
.comment>.time{
    grid-area: time;
    font-size: 12px;
    color:grey;
    margin-top: 3px;
}
.comment>.spoiler{
    color: lightgrey;
    background-color: lightgrey;
    cursor: pointer;
    user-select: none;
}
.comment>.spoilerAlert{
    grid-area: spoiler;
    padding: 5px;
    margin-top: 5px;
    background-color: #303952;
    color: white;
    font-size: 18px;
}