.feeditem{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 10px;
    border-left: 3px lightgray solid;
    align-items: flex-start;
    width: 90%;
    animation: fade-in 1s ease;
}
.feeduser{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding-right: 20px;
}
.feeduser>img{
    margin-right: 20px;
    margin-left: 10px;
    transition: ease all 0.5s;
    width:38px;
}

.feedaction{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    width: 70%;
}
.feedaction:hover>div{
    color: black;
    margin-left: 20px;
}
.feedaction>img{
    height: 90px;
}
.feedaction>div{
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    align-items: flex-start;
    transition: ease all 0.5s;
}
.feedaction>div>span:first-child{
    font-weight: bold;
    font-size: 19px;
    padding-left: 0px;
}
.feedtimestamp{
    font-size: 13px;
    margin-bottom: 10px;
}

@media (max-device-width: 425px) {
    .feeditem {
        border-left: 8px lightgray solid;
        width: 96%;
    }
    .feeduser {
        font-size: 30px;
    }
    .feeduser>img {
        margin-right: 30px;
        margin-left: 20px;
        width:60px;
    }

    .feedaction {
        font-size: 28px;
        width:100%;
    }
    .feedaction>img{
        height: 140px;
    }
    .feedaction>div{
        font-size: 25px;
        margin-left: 15px;

    }
    .feedaction>div>span{
        padding-bottom: 10px;
        width: 100%;
    }
    .feedaction>div>span:first-child{
        font-size: 30px;
    }
    .feedtimestamp{
        font-size: 22px;
        width: 100%;
    }
}










