{% load static %}
{% include "../base.html" %}
<link rel="stylesheet" href="{% static "List/styles/list.css" %}" />
<link rel="stylesheet" href="{% static "List/styles/group.css" %}" />

<link rel="stylesheet" href="{% static "List/styles/stars.css" %}" />
<link rel="stylesheet" href="{% static "List/styles/numeric.css" %}" />
<link rel="stylesheet" href="{% static "List/styles/actionpanel.css" %}" />
<script src="{% static "List/scripts/ActionPanel.js" %}"></script>

<script src="{% static "List/scripts/getCookie.js" %}"></script>

{% if series is True %}
    <link rel="stylesheet" href="{% static "List/styles/season.css" %}" />
{% endif %}

<title>Список {% if series is True %} сералов {% else %} фильмов {% endif %} / {{user.profile.name}}</title>

<body>
    <div class="headBlock">
        <div>
            <a class="btn {% if series is True %} selected {% endif %}" href="{% url 'listserial' user.username %}">Сериалы</a>
            <a class="btn {% if series is False %} selected {% endif %}" href="{% url 'listfilm' user.username %}">Фильмы</a>
         </div>
         <span class="HeadName">Список {% if series is True %} сералов {% else %} фильмов {% endif %} / {{user.profile.name}}</span>
         <input onkeyup="search(this)"  placeholder="Поиск по названию" type="search">
    </div>

    <div class="content">
        {% include "List/components/filters.html" %}

        <div class="groups">
            {% for groupname,group in groups.items %}
                {% include "List/components/group.html" %}
            {% endfor %}
        </div>
    </div>

    {% include 'List/components/faststatus.html' %}
</body>