{% load staticfiles %}
<link rel="stylesheet" href={% static 'base.css' %} type="text/css" />
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(56055628, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/56055628" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<nav>
    <div>
        <a href="{% url 'index' %}" class="navitem" style="background-color:#303952">
            <img src={% static "images/favicon.ico" %}>
            <span>MovieDB</span>
        </a>
    </div>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' request.user.username %}" class="navitem" style="background-color:#c44569">
            <img src={% static "images/navbar/profile.png" %}>
            <span>Мой профиль</span>
        </a>
        {% endif %}
        <a href="{% url 'seriallist' %}" class="navitem" style="background-color:#546de5">
            <img src={% static "images/navbar/serials.png" %}>
            <span>Сериалы</span>
        </a>
        <a href="{% url 'filmlist' %}" class="navitem" style="background-color:#e15f41">
            <img src={% static "images/navbar/films.png" %}>
            <span>Фильмы</span>
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'listserial' request.user.username %}" class="navitem" style="background-color:#3dc1d3">
                <img src={% static "images/navbar/list.png" %}>
                <span>Мой список</span>
            </a>
        {% endif %}
    </div>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" style="background-color:#303952" class="navitem">
                <img src={% static "images/navbar/exit.png" %}>
                <span>Выход</span>
            </a>
        {% else %}
            <a href="{% url 'login' %}" style="background-color:#303952" class="navitem">
                <img src={% static "images/navbar/exit.png" %}>
                <span>Авторизация</span>
            </a>
        {% endif %}
    </div>
</nav>


    
{% if messages  %}
    <div class="messages">
        {% for message in messages %}
            <span class="{{ message.tags }}">
                <span>{{ message|safe }}</span>
                <span style="cursor:pointer" onclick="this.parentNode.remove()">✖</span>
            </span>
        {% endfor %}
    </div>
{% endif %}
